<nav class="header_container" ng-if="user.status.logged_in">

	<div class="top_header_container">
		<!-- floated left -->
		<div class="title_container">
			<h3 id="currentTitle" class="title">
				{{currentTitle}}
			</h3>
		</div>
		
		<!-- floated right -->
		<div class="right_header_container">
			<a class="settings_font link" ng-click="logOut()">LOG OUT</a>
		</div>

</nav>