<div ng-controller="SettingsController">
	<header class="navbar header_bar" id="mobile_header">
	 <div class="main_header" ui-view="header"></div>
	</header>

	<div class="col-xs-12 settings_container">
	 	<div ui-view="primary_settings_view" class="primary_settings_view"></div>
	</div>
</div>