<div class="row" style="margin-bottom:400px;">

	<a style="cursor: pointer;" ng-click="logOut()">Log Out</a>

	<div class="col-xs-7">
		<div class="title">
			<h4>Account Settings</h4>
		</div>
		<hr>
		<div class="row name">
			<div class="col-xs-3">
				<h6 class="property">Name</h6>
			</div>
			<div class="col-xs-9">
				<h6 class="value">{{currentUser.first_name}} {{currentUser.last_name}}</h6>
			</div>
		</div>
		<div class="row email">
			<div class="col-xs-3">
				<h6 class="property">Email</h6>
			</div>
			<div class="col-xs-9">
				<h6 class="value">{{currentUser.email}}</h6>
			</div>
		</div>
		<div class="row password">
			<div class="col-xs-3">
				<h6 class="property">Password</h6>
			</div>
			<div class="col-xs-9">
				<h6 class="value">*********</h6>
			</div>
		</div>
		<div class="row address">
			<div class="col-xs-3">
				<h6 class="property">Address</h6>
			</div>
			<div class="col-xs-9">
				<h6 class="value">{{currentUser.primary_address.street}}</h6>
				<h6 class="value">{{currentUser.primary_address.city}}, {{currentUser.primary_address.state | stateAbbreviation}} {{currentUser.primary_address.zipcode}}</h6>
			</div>
		</div>
		<div class="row birthday">
			<div class="col-xs-3">
				<h6 class="property">Birthday</h6>
			</div>
			<div class="col-xs-9">
				<h6 class="value">{{currentUser.birthday}}</h6>
			</div>
		</div>

	</div>

	<div class="col-xs-5">
		<!-- temp existence of logging out -->
		<ul class="nav navbar-nav">
			<li class="dropdown pull-right right_most">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img ng-src="{{user.currentUser.gravatar_url}}" alt="{{user.currentUser.first_name}}" class="user_gravatar" /></a>
				<ul class="dropdown-menu dropdown-menu-right absolute">
					<li><span style="cursor: default;">{{user.currentUser.email}}</span></li>
					<li class="divider"></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Settings</a></li>
					<li class="divider"></li>
					<li ng-if="user.currentUser.is_admin"><span><a href="/admin/" >Admin</a></li>
					<li><span><a href="/card_survey/index">Card Survey</a></span></li>
					<li class="divider"></li>
					<li>
						<a style="cursor: pointer;" ng-click="logOut()">Log Out</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</div>