<div class="row">
	<div class="col-xs-7">
		<div class="title">
			<h4>Account Settings</h4>
		</div>
		<hr>
		<div class="row name">
			<div class="col-xs-3">
				<h6 class="property">Name</h6>
			</div>
			<div class="col-xs-9">
				<h6 class="value">Kevin</h6>
			</div>
		</div>
		<div class="row email">
			<div class="col-xs-3">
				<h6 class="property">Email</h6>
			</div>
			<div class="col-xs-9">
				<h6 class="value">kevinsuh34@gmail.com</h6>
			</div>
		</div>
		<div class="row password">
			<div class="col-xs-3">
				<h6 class="property">Password</h6>
			</div>
			<div class="col-xs-9">
				<h6 class="value">*********</h6>
			</div>
		</div>
		<div class="row address">
			<div class="col-xs-3">
				<h6 class="property">Address</h6>
			</div>
			<div class="col-xs-9">
				<h6 class="value">2704 SW 311th St.</h6>
				<h6 class="value">Federal Way, WA 98023</h6>
			</div>
		</div>
		<div class="row birthday">
			<div class="col-xs-3">
				<h6 class="property">Birthday</h6>
			</div>
			<div class="col-xs-9">
				<h6 class="value">February 12, 1992</h6>
			</div>
		</div>

	</div>
</div>