<div class="personal_info_container">
	<div class="title_container">
		<h2 class="settings_font">EDIT PERSONAL INFO</h2>
		<i class="glyphicon glyphicon-menu-right edit_settings"/>
	</div>

	<div class="body_container">

		<div class="single_row">
			<div class="category_container">
				<h3 class="category_font">
					Name
				</h3>
			</div>
			<div class="info_container">
				<h3 class="info_font">
					Benjamin Xue
				</h3>
			</div>
		</div>

		<div class="single_row">
			<div class="category_container">
				<h3 class="category_font">
					Email
				</h3>
			</div>
			<div class="info_container">
				<h3 class="info_font">
					bxue92@gmail.com
				</h3>
			</div>
		</div>

		<div class="single_row">
			<div class="category_container">
				<h3 class="category_font">
					Password
				</h3>
			</div>
			<div class="info_container">
				<h3 class="info_font">
					********
				</h3>
			</div>
		</div>

		<div class="single_row">
			<div class="category_container">
				<h3 class="category_font">
					Phone
				</h3>
			</div>
			<div class="info_container">
				<h3 class="info_font">
					253-310-8999
				</h3>
			</div>
		</div>

		<div class="single_row">
			<div class="category_container">
				<h3 class="category_font">
					Address
				</h3>
			</div>
			<div class="info_container">
				<h3 class="info_font">
					STREET STUFF...
				</h3>
			</div>
		</div>	

		<div class="single_row">
			<div class="category_container">
				<h3 class="category_font">
					Birthday
				</h3>
			</div>
			<div class="info_container">
				<h3 class="info_font">
					February 12, 1992
				</h3>
			</div>
		</div>

	</div>
</div>

<div class="payment_info_container">
	<div class="title_container">
		<h2 class="settings_font">EDIT PAYMENT INFO</h2>
		<i class="glyphicon glyphicon-menu-right edit_settings"/>
	</div>

	<div class="body_container">

		<div class="single_row">
			<div class="category_container">
				<h3 class="category_font">
					Payment
				</h3>
			</div>
			<div class="info_container">
				<h3 class="info_font">
					VISA KEVIN SUH **** 2281 checkmark
				</h3>
			</div>
		</div>

	</div>
</div>

<div class="notification_preferences_container">
	<div class="title_container">
		<h2 class="settings_font">EDIT NOTIFICATION PREFERENCES</h2>
		<i class="glyphicon glyphicon-menu-right edit_settings"/>
	</div>

	<div class="body_container">

		<div class="single_row">
			<div class="category_container">
				<h3 class="category_font">
					Notifications
				</h3>
			</div>
			<div class="info_container">
				<h3 class="info_font">
					Email
				</h3>
			</div>
		</div>

		<div class="single_row">
			<div class="category_container">
				<h3 class="category_font">
					Timing
				</h3>
			</div>
			<div class="info_container">
				<h3 class="info_font">
					9 days before occasion, 15 days before birthdays
				</h3>
			</div>
		</div>

	</div>
</div>
