<div class="row">
	<aside class="col-md-3">
		<section class="user_info">
			<div class="section">
				<%= gravatar_for(current_user, size: 50) %>
			</div>
			<div class="section">
				<h2><%= current_user.email %></h2>
			</div>
		</section>

		<section class="card_queue">
			<div class="section">
				<h1>My Queue</h1>
			</div>
		</section>
	</aside>


</div>