<div ng-app="flapper-news">
	<div class="center">
		<h1>Angular App Demo</h1>
		<h4>
			<a href="#/home">
				home
			</a>
		</h4>
	</div>
	<div style="margin-top:40px;" class="row" ng-controller="MainController">
	  <ui-view></ui-view>
	</div>
</div>


