<div ng-app="flapper-news">
	<div class="center">
		<h1>Angular App Demo</h1>
		<h4>
			<a href="#/home">
				home
			</a>
		</h4>
	</div>
	<div style="margin-top:40px;" class="row" ng-controller="MainController">
	  <div class="col-s-10 col-s-offset-1 col-md-8 col-md-offset-2">
	  	<ui-view></ui-view>
	  </div>
	</div>
</div>


