<div ng-app="flapper-news">
	<div class="center">
		<h1>Angular App Demo</h1>
	</div>
	<div style="margin-top:40px;" class="row" ng-controller="MainController">
		{{username}}
	  <div class="col-md-6 col-md-offset-3">
	  </div>
	</div>
	<div class="main-view-container" ui-view></div>
</div>


