<% provide(:title, "Settings") %>
<h1>Forgot Password?</h1>

<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<p style="text-align:center;">We will send you an email, which will allow you to reset your password!</p>
		<%= form_for(:password_reset, url: password_resets_path) do |f| %>
			
			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.submit "Send email", class: "btn btn-primary" %>

		<% end %>
	</div>
</div>