<div class="col-s-12 col-md-10 col-md-offset-1">

	<h3 style="color:red; font-style:italic;" ng-hide="{{success}}">{{message}}</h3>

	<div class="page-header">
		<h3>
			<!-- only make it a link if it has link attached -->
			<a ng-show="post.link" href="{{post.link}}" target=_blank>
				{{post.title}}
			</a>
			<span ng-hide="post.link">
				{{post.title}}
			</span>
		</h3>
		<div>
      <span style="font-size:12px;">{{post.upvotes}} points by {{post.user.name}} | {{post.created_at | timeAgoInWords }} | <a href="#/posts/{{post.id}}">{{post.comments.length}} comments</a></span>
    </div>
	</div>

	<div style="margin-bottom: 18px;" ng-repeat="commentCollection in post.comments | orderBy:'created_at'">

		<div>
			<div style="display: inline;">
				{{commentCollection.comment.upvotes}} <button ng-disabled="commentCollection.already_upvoted" ng-click="upvote(commentCollection)" class="glyphicon glyphicon-thumbs-up" ng-class="{active: !commentCollection.already_upvoted}"></button>
			</div>
			<div style="display: inline;">
				{{commentCollection.comment.user.name}} {{commentCollection.comment.created_at | timeAgoInWords }}
			</div>
		</div>

		<div>
			<span style="font-size:20px;">{{commentCollection.comment.body}}</span>
		</div>

	</div>

	<hr>
	<!-- add new comment -->
	<div style="margin-top:15px;">
		<input type="text" placeholder="new comment" ng-model="newComment">
		<button style="margin-top:10px;" ng-click="newComment && addComment()">post</button>
	</tr>

</div>