<div ng-controller="QueuedCardsController">

	<header class="navbar header_bar" id="mobile_header">
	 <div class="main_header" ui-view="header"></div>
	</header>

	<div class="col-xs-12 my_cards_container page_container">
	 	<div ui-view="queued_cards_view" class="queued_cards_view"></div>
	</div>

	<div class="footer_bar" id="mobile_footer">
		<div class="main_footer" ui-view="footer"></div>
	</div>

</div>