<div ng-controller="QueuedCardsController" class="my_cards_container">
	<div class="col-xs-12 queued_cards_controller">
	 	<div ui-view="queued_cards_view" class="my_queued_cards" style="width: 100%;"></div>
	</div>
</div>