<div ng-controller="QueuedCardsController" class="my_cards_container">
	<div class="col-xs-12 queued_cards">
	 	<div ui-view="queued_cards_view" class="queued_cards_ui_view" style="width: 100%;"></div>
	</div>
</div>