<div class="row queued_cards_filter">

	<div class="choose_cards_view pull-left">
		<div class="form_input" ng-click="setTableView('queued')">
			Unpurchased
		</div>
		<div class="form_input" ng-click="setTableView('purchased')">
			Purchased
		</div>
	</div>

	<div class="filter_people options pull-right">
		<div class="form_input filter_person">
			<input type="text" ng-model="filteredName" ng-change="recipientNameFilter(filteredName)" class="filter_people_input"><i class="glyphicon glyphicon-search search_icon"></i></input>
		</div>

		<div class="form_input">
			<a class="send_card" ng-click="checkout()" style="width: 120px;" ng-class="{'disabled':selectedOrderIDs.length <= 0}">Send Now ({{selectedOrderIDs.length}})</a>
		</div>
	</div>
</div>


<table class="queued_cards" ng-if="tableView == 'queued'">

	<tr class="queue_row title">
		<th class="field check" ng-click="toggleSelectAllQueuedCards()">
			<input ng-checked="allQueuedCardsAreSelected()" class="checkbox" type="checkbox"/>
		</th>
		<th class="field person">
			<h4>Person</h4>
		</th>
		<th class="field occasion">
			<h4>Occasion</h4>
		</th>
		<th class="field card_selection">
			<h4>Card Selection</h4>
		</th>
		<th class="field occasion_date">
			<h4>Occasion Date</h4>
		</th>
		<th class="field ship_date">
			<h4>Ship Date</h4>
		</th>
	</tr>

	<tr class=" queue_row single_card" ng-repeat="queuedCard in queuedCards" ng-class="{'even':$index%2 == 0, 'odd':$index%2 == 1}" ng-click="toggleInSelectedOrdersArray(queuedCard)" ng-if="queuedCard.is_visible != 0">
		<td class="field check">
			<input ng-checked="isInSelectedOrdersArray(queuedCard)" class="checkbox" type="checkbox"/>
		</td>
		<td class="field person">
			<div class="profile_picture_container">
				<div class="profile_picture">
					<img class="image" ng-src="{{queuedCard.recipient_picture}}" />
				</div>
			</div>
			<div class="name">
				{{queuedCard.recipient.first_name}} {{queuedCard.recipient.last_name}}
			</div>
		</td>
		<td class="field occasion">
			{{queuedCard.order_occasion.name}}
		</td>
		<td class="field card_selection">
			<div class="card_picture_container">
				<div class="card_picture">
					<img class="image" ng-src="{{queuedCard.card_images[0]}}" />
				</div>
			</div>
		</td>
		<td class="field occasion_date">
			{{queuedCard.recipient_arrival_date | date:"MM/dd/yyyy"}}
		</td>
		<td class="field ship_date">
			SHIP DATE?
		</td>
	</tr>

</table>

<table class="purchased_cards" ng-if="tableView == 'purchased'">

	<tr class="queue_row title">
		<th class="field check" ng-click="toggleSelectAllQueuedCards()">
			<input ng-checked="allQueuedCardsAreSelected()" class="checkbox" type="checkbox"/>
		</th>
		<th class="field person">
			<h4>Person</h4>
		</th>
		<th class="field occasion">
			<h4>Occasion</h4>
		</th>
		<th class="field card_selection">
			<h4>Card Selection</h4>
		</th>
		<th class="field occasion_date">
			<h4>Occasion Date</h4>
		</th>
		<th class="field ship_date">
			<h4>Ship Date</h4>
		</th>
	</tr>

	<tr class=" queue_row single_card" ng-repeat="queuedCard in queuedCards" ng-class="{'even':$index%2 == 0, 'odd':$index%2 == 1}" ng-click="toggleInSelectedOrdersArray(queuedCard)" ng-if="queuedCard.is_visible != 0">
		<td class="field check">
			<input ng-checked="isInSelectedOrdersArray(queuedCard)" class="checkbox" type="checkbox"/>
		</td>
		<td class="field person">
			<div class="profile_picture_container">
				<div class="profile_picture">
					<img class="image" ng-src="{{queuedCard.recipient_picture}}" />
				</div>
			</div>
			<div class="name">
				{{queuedCard.recipient.first_name}} {{queuedCard.recipient.last_name}}
			</div>
		</td>
		<td class="field occasion">
			{{queuedCard.order_occasion.name}}
		</td>
		<td class="field card_selection">
			<div class="card_picture_container">
				<div class="card_picture">
					<img class="image" ng-src="{{queuedCard.card_images[0]}}" />
				</div>
			</div>
		</td>
		<td class="field occasion_date">
			{{queuedCard.recipient_arrival_date | date:"MM/dd/yyyy"}}
		</td>
		<td class="field ship_date">
			SHIP DATE?
		</td>
	</tr>

</table>
