<p>
  Team Labrador,
<p>

<p>
	The force is strong with this new beta-tester. He will join us or die.

	<ul>
		<li>First Name: <%= @user.first_name %></li>
		<li>Last Name: <%= @user.last_name %></li>
		<li>Username: <%= @user.username %></li>
		<li>Email: <%= @user.email %></li>
	</ul>

</p>
