<!-- first name -->
<div class="form_field name validation_field">
	<div class="first_name" ng-class="{'has-error': hasError('first_name')}">
	  <label for="first_name" class="form_label">
	    <span class="helper" ng-class="{'completed': isValid('first_name')}">
	      First Name / Company Name
	    </span>
	  </label>
	  <div class="form_input">
	    <input id="first_name" name="first_name" ng-model="address.first_name" type="text" required />
	  </div>

	  <div class="invalid-message" ng-messages="basicInfoForm.first_name.$error" ng-show="showMessages('first_name')">
	    <div class="message-animation" ng-message="required">
	      <strong>This is required!</strong>
	    </div>
		</div>

	</div>

	<div class="last_name" ng-class="{'has-error': hasError('last_name')}">

		<label for="last_name" class="form_label">
	    <span class="helper" ng-class="{'completed': isValid('last_name')}">
	      Last Name
	    </span>
	  </label>
	  <div class="form_input">
	    <input id="last_name" name="last_name" ng-model="address.last_name" type="text" required />
	  </div>

	  <div class="invalid-message" ng-messages="basicInfoForm.last_name.$error" ng-show="showMessages('last_name')">
	    <div class="message-animation" ng-message="required">
	      <strong>This is required!</strong>
	    </div>
	  </div>

	</div>

</div>


<div class="shipping">
	<h2>
		Your Shipping Address
	</h2>
</div>

<div class="form_field street validation_field" ng-class="{'has-error': hasError('street')}">
  <label for="street" class="form_label">
    <span class="helper" ng-class="{'completed': isValid('street')}">
      Street
    </span>
  </label>

  <div class="form_input">
    <input id="street" type="text" name="street" ng-model="address.street" placeholder="123 Main St." required/>
  </div>

  <div class="invalid-message-holder">
	  <div class="invalid-message" ng-messages="basicInfoForm.street.$error" ng-hide="!showMessages('street')">
	    <div class="message-animation" ng-message="required">
	      <strong> 
	        This is required!
	      </strong>
	    </div>
	  </div>
	</div>

</div>

<div class="form_field suite">
  <label for="suite" class="form_label">
    <span class="helper" ng-class="{'completed': isValid('suite')}">
      Suite / Floor Number
    </span>
  </label>

  <div class="form_input">
    <input id="suite" type="text" name="suite" ng-model="address.suite" placeholder="Suite 206" style="width: 100%;"/>
  </div>
</div>

<div class="form_field city validation_field" ng-class="{'has-error': hasError('city')}">
  <label for="city" class="form_label">
    <span class="helper" ng-class="{'completed': isValid('city')}">
      City
    </span>
  </label>

  <div class="form_input">
    <input id="city" type="text" name="city" ng-model="address.city" placeholder="New York" required/>
  </div>

  <div class="invalid-message-holder">
	  <div class="invalid-message" ng-messages="basicInfoForm.city.$error" ng-hide="!showMessages('city')">
	    <div class="message-animation" ng-message="required">
	      <strong> 
	        This is required!
	      </strong>
	    </div>
	  </div>
	</div>

</div>

<div class="form_field state validation_field" ng-class="{'has-error': hasError('state')}">
  <label for="state" class="form_label">
    <span class="helper" ng-class="{'completed': isValid('state')}">
      State
    </span>
  </label>

  <div class="form_input">
  	<select id="state" name="state" ng-model="address.state" required>
  		<option value="">State</option>
  		<% us_states.each { |state, abrv| %>
  			<option value="<%= state %>"><%= abrv %></option>
			<% } %>
  	</select>
  </div>

  <div class="invalid-message-holder">
	  <div class="invalid-message" ng-messages="basicInfoForm.state.$error" ng-hide="!showMessages('state')">
	    <div class="message-animation" ng-message="required">
	      <strong> 
	        This is required!
	      </strong>
	    </div>
	  </div>
	</div>

</div>

<div class="form_field zipcode validation_field" ng-class="{'has-error': hasError('zipcode')}">
  <label for="zipcode" class="form_label">
    <span class="helper" ng-class="{'completed': isValid('zipcode')}">
      Zip Code
    </span>
  </label>

  <div class="form_input">
    <input id="zipcode" type="text" name="zipcode" ng-model="address.zipcode" placeholder="98023" required/>
  </div>

  <div class="invalid-message-holder">
	  <div class="invalid-message" ng-messages="basicInfoForm.zipcode.$error" ng-hide="!showMessages('zipcode')">
	    <div class="message-animation" ng-message="required">
	      <strong> 
	        This is required!
	      </strong>
	    </div>
	  </div>
	</div>

</div>

<div class="form_field submit">
  <div class="form_input">
    <a style="margin-top: 25px;" ng-click="fieldsAreValid(['first_name', 'last_name', 'street', 'suite', 'city', 'state', 'zipcode']) && validateAddressFields()" class="btn submit-btn next-btn" ng-class="{'disabled': !fieldsAreValid(['first_name', 'last_name', 'street', 'suite', 'city', 'state', 'zipcode'])}">Next <i class="glyphicon glyphicon-arrow-right"></i></a>
  </div>
</div>
