<!-- first name -->
<div class="form_field name validation_field">
	<div class="first_name" ng-class="{'has-error': hasError('first_name')}">
	  <label for="first_name" class="form_label">
	    <span class="helper" ng-class="{'completed': isValid('first_name')}">
	      First Name / Company Name
	    </span>
	  </label>
	  <div class="form_input">
	    <input id="first_name" name="first_name" ng-model="address.first_name" type="text" required />
	  </div>

	  <div class="invalid-message" ng-messages="basicInfoForm.first_name.$error" ng-show="showMessages('first_name')">
	    <div class="message-animation" ng-message="required">
	      <strong>This is required!</strong>
	    </div>
		</div>

	</div>

	<div class="last_name" ng-class="{'has-error': hasError('last_name')}">

		<label for="last_name" class="form_label">
	    <span class="helper" ng-class="{'completed': isValid('last_name')}">
	      Last Name
	    </span>
	  </label>
	  <div class="form_input">
	    <input id="last_name" name="last_name" ng-model="address.last_name" type="text" required />
	  </div>

	  <div class="invalid-message" ng-messages="basicInfoForm.last_name.$error" ng-show="showMessages('last_name')">
	    <div class="message-animation" ng-message="required">
	      <strong>This is required!</strong>
	    </div>
	  </div>

	</div>

</div>


<div class="shipping">
	<h2>
		Your Shipping Address
	</h2>
</div>

<div class="form_field submit">
  <div class="form_input">
    <a style="margin-top: 25px;" ng-click="fieldsAreValid(['first_name', 'last_name', 'street', 'suite', 'city', 'state', 'zipcode']) && validateAddressFields()" class="btn submit-btn next-btn" ng-class="{'disabled': !fieldsAreValid(['first_name', 'last_name', 'street', 'suite', 'city', 'state', 'zipcode'])}">Next <i class="glyphicon glyphicon-arrow-right"></i></a>
  </div>
</div>
