<!-- first name -->
<div class="form_field name validation_field">
  <div class="first_name" ng-class="{'has-error': hasError('user_first_name')}">
    <!-- <label for="user_first_name" class="form_label">
      <span class="helper" ng-class="{'completed': isValid('user_first_name')}">
        First Name
      </span>
    </label> -->
    <div class="form_input">
      <input id="user_first_name" name="user_first_name" ng-model="user.first_name" type="text" placeholder="First Name" required />
    </div>

  </div>

  <div class="last_name" ng-class="{'has-error': hasError('user_last_name')}">

    <!-- <label for="user_last_name" class="form_label">
      <span class="helper" ng-class="{'completed': isValid('user_last_name')}">
        Last Name
      </span>
    </label> -->
    <div class="form_input">
      <input id="user_last_name" placeholder="Last Name" name="user_last_name" ng-model="user.last_name" type="text" required />
    </div>

  </div>

</div>

<div class="form_field email validation_field" ng-class="{'has-error': hasError('email')}">
  <!-- <label for="signup_email" class="form_label">
    <span class="helper" ng-class="{'completed': basicInfoForm.email.$valid}">
      Enter your email address
    </span>
  </label> -->
  <div class="form_input">
    <input id="signup_email" name="email" ng-model="user.email" type="email" placeholder="Email Address" validate-email required />
  </div>

</div>

<div class="form_field street validation_field" ng-class="{'has-error': hasError('phone_number')}">
  <div class="form_input">
      <input class="recipient_form_input" name="phone_number" ng-model="user.phone_number" phone-input type="tel" validate-phone-number placeholder="Phone Number"/>
    </div>
</div>

<div class="form_field street validation_field" ng-class="{'has-error': hasError('street')}">
  <!-- <label for="street" class="form_label">
    <span class="helper" ng-class="{'completed': isValid('street')}">
      Street
    </span>
  </label> -->

  <div class="form_input">
    <input id="street" type="text" name="street" ng-model="user.address.street" placeholder="Address Line 1" required/>
  </div>

</div>

<div class="form_field suite">
  <!-- <label for="suite" class="form_label">
    <span class="helper" ng-class="{'completed': isValid('suite')}">
      Suite / Floor Number
    </span>
  </label> -->

  <div class="form_input">
    <input id="suite" type="text" name="suite" ng-model="user.address.suite" placeholder="Address Line 2" style="width: 100%;"/>
  </div>
</div>

<div class="form_field city validation_field" ng-class="{'has-error': hasError('city')}">
  <!-- <label for="city" class="form_label">
    <span class="helper" ng-class="{'completed': isValid('city')}">
      City
    </span>
  </label> -->

  <div class="form_input">
    <input id="city" type="text" name="city" ng-model="user.address.city" placeholder="City" required/>
  </div>

</div>

<div class="form_field state validation_field" ng-class="{'has-error': hasError('state')}">
  <!-- <label for="state" class="form_label">
    <span class="helper" ng-class="{'completed': isValid('state')}">
      State
    </span>
  </label> -->

  <div class="form_input">
    <select id="state" name="state" ng-model="user.address.state" required>
      <option value="">State</option>
      <% us_states.each { |state, abrv| %>
        <option value="<%= state %>"><%= abrv %></option>
      <% } %>
    </select>
  </div>
</div>

<div class="form_field zipcode validation_field" ng-class="{'has-error': hasError('zipcode')}">
  <!-- <label for="zipcode" class="form_label">
    <span class="helper" ng-class="{'completed': isValid('zipcode')}">
      Zip Code
    </span>
  </label> -->

  <div class="form_input">
    <input id="zipcode" type="text" name="zipcode" ng-model="user.address.zipcode" placeholder="Zip Code" required/>
  </div>

</div>

<div class="form_field submit" style="margin-top: 0;">
  <div class="form_input">
    <a ng-click="fieldsAreValid(['user_first_name', 'user_last_name', 'phone_number', 'email', 'street', 'suite', 'city', 'state', 'zipcode']) && validateAddressFields()" class="btn submit-btn next-btn full-width" ng-class="{'disabled': !fieldsAreValid(['user_first_name', 'user_last_name', 'phone_number', 'email', 'street', 'suite', 'city', 'state', 'zipcode'])}">NEXT</a>

    <!-- <a ng-click="fieldsAreValid(['user_first_name', 'user_last_name', 'email', 'password', 'password_confirmation']) && validateBasicFields()" class="btn submit-btn next-btn" ng-class="{'disabled': !fieldsAreValid(['user_first_name', 'user_last_name', 'email', 'password', 'password_confirmation'])}">Sign Up</a> -->
    <!-- ui-sref="form.address" -->
    <!-- <i class="glyphicon glyphicon-arrow-right"></i> -->
  </div>
</div>
