<div class="row" ng-controller="BasicSignUpController as basicSignUpCtrl">
  <div class="col-xs-8 col-xs-offset-2 form-container">
    <div ng-show="signedUp">
      the email you submitted is {{newUser.email}}
    </div>
    <div class="form">
      <form name="basicInfoForm" ng-submit="signup()" novalidate>

        <div class="form_field email" ng-class="{'has-error': hasError('email')}">
          <label for="signup_email" class="form_label">
            <span>
              Enter your email address
            </span>
          </label>
          <div class="form_input">
            <input id="signup_email" name="email" ng-model="newUser.email" type="email" placeholder="ex. kevin@cardagain.com" required />
          </div>

          <div class="invalid-message" ng-messages="basicInfoForm.email.$error" ng-show="showMessages('email')">
            <div class="message-animation" ng-message="email">
              <strong>Please format your email correctly!</strong>
            </div>
            <div class="message-animation" ng-message="required">
              <strong>This is required!</strong>
            </div>
          </div>
        </div>


        <div class="form_field password" ng-class="{'has-error': hasError('password')}">
          <label for="password" class="form_label">
            <span>
              Password
            </span>
          </label>

          <div class="form_input">
            <input id="password" type="password" name="password" ng-model="newUser.password" placeholder="*******" required/>
          </div>

          <div class="invalid-message" ng-messages="basicInfoForm.password.$error" ng-hide="!showMessages('password')">
            <div class="message-animation" ng-message="required">
              <strong> 
                Your password is required.
              </strong>
            </div>
          </div>
        </div>
        
        <div class="form_field password" ng-class="{'has-error': hasError('confirmation_password')}">
          <label for="confirmation_password" class="form_label">
            <span>
              Confirm Password
            </span>
          </label>

          <div class="form_input">
            <input type="password" id="confirmation_password" name="confirmation_password" ng-model="newUser.confirmationPassword" placeholder="*******" required compare-to="newUser.password"/>
          </div>

          <div class="invalid-message" ng-messages="basicInfoForm.confirmation_password.$error" ng-show="showMessages('confirmation_password')">
            <div class="message-animation" ng-message="required">
              <strong> 
                Password confirmation is required.
              </strong>
            </div>

            <div class="message-animation" ng-message="compareTo">
              <strong>
                Your passwords don't match!
              </strong>
            </div>
          </div>

        </div>

        <div class="form_field submit">
          <div class="form_input">
            <button class="btn submit-btn" type="submit">Next <i class="glyphicon glyphicon-arrow-right" style="top:2px;"></i></button>
          </div>
        </div>
      </form>
    </div>
    

</div>