<div id="form-container">
	<% if false %>
	<a href="/"><%= image_tag('cardagain_logo_md.png', alt: 'Cardagain', class: "logo") %></a>
	<% end %>
	<div class="header">
		<h2 class="logo" style="margin-top:20px; margin-right: 10px; text-align: right; color: red; font-style: italic; font-size: 40px; font-weight: 400 !important;">Labrador</h2>
	</div>
	<% if false %>
	<div class="page-header">	
		<!-- these links help us move through relative paths -->
		<div id="status-buttons" class="text-center">
			<p class="progress_bullets">
				<span class="bullet"><a ui-sref-active="active" ui-sref=".profile">•</a></span>
				<span class="bullet"><a ui-sref-active="active" ui-sref=".address">•</a></span>
				<span class="bullet"><a ui-sref-active="active" ui-sref=".interests">•</a></span>
			</p>
		</div>
	</div>
	<% end %>

	<div class="form">
    <form id="signup-form" ng-class="{'basic': currentState == 'form.profile', 'username': currentState == 'form.interests'}" name="basicInfoForm" ng-submit="signup()" novalidate>
    	<div ng-if="currentState == 'form.profile'">
				<div class="main_response">
					<span style="color: red;">Thanks!</span> <span>You'll hear from us when we launch.</span>
				</div>
				<div class="second_response">
					<span>We are now also accepting early signups for beta-testing. If you'd like to try it out, create an account now.</span>
				</div>
			</div>
			<div ng-if="currentState == 'form.profile'">
				<h2 class="form_title">Choose a Username and Password</h2>
			</div>
			<div ng-if="currentState == 'form.interests'">
				<h2 class="form_title">Just a little more information!</h2>
			</div>
    	<!-- nested state views here -->
			<div id="form-views" ui-view></div>
		</form>
	</div>
</div>