<div id="form-container">
	<%= image_tag('cardagain_logo_md.png', alt: 'Cardagain', class: "splash_logo") %>
	<div class="page-header">
		<h1 ng-if="currentState == 'form.profile'">Let's start</h1>
		<h1 ng-if="currentState == 'form.address'">Let us ship things to you</h1>
		<h1 ng-if="currentState == 'form.interests'">We also curate cards :)</h1>
		
		<!-- these links help us move through relative paths -->
		<div id="status-buttons" class="text-center">
			<p class="progress_bullets">
				<span class="bullet"><a ui-sref-active="active" ui-sref=".profile">•</a></span>
				<span class="bullet"><a ui-sref-active="active" ui-sref=".address">•</a></span>
				<span class="bullet"><a ui-sref-active="active" ui-sref=".interests">•</a></span>
			</p>
		</div>
	</div>

	<div class="form">
    <form id="signup-form" name="basicInfoForm" ng-submit="signup()" novalidate>

    	<!-- nested state views here -->
			<div id="form-views" ui-view></div>
		</form>
	</div>
</div>