<div class="subtotal">
	<h3 class="title">Subtotal ({{finalOptions.cards.length}} Cards): ${{finalOptions.cards.length * 5}}.00</h3>
</div>
<hr>

<div class="cards_list">

	<div class="card" ng-repeat="card in selectedCardsForPurchase" ng-click="toggleInFinalCardsArray(card)">

		<div class="select card_part" ng-class="{'what': isInFinalCardsArray(card)}">
			<input ng-checked="isInFinalCardsArray(card)" class="checkbox" type="checkbox"/>
		</div>
		<div class="image_div card_part">
			<img class="image" ng-src="{{card.card_images[0]}}" />
		</div>
		<div class="information card_part">
			<div class="card_title info">
				<h4>{{card.order_occasion.name}} Card</h4>
				<h5>for <span style="font-weight: bold;">{{card.recipient.first_name}} {{card.recipient.last_name}}</span></h5>
			</div>

			<div class="delivery info">
				<h5>Delivery Date:</h5>
				<h5>{{card.recipient_arrival_date | date:"MM/dd/yyyy"}}</h5>
			</div>

			<div class="address info" ng-if="card.recipient_address">
				<h5>Address:</h5>
				<!-- address info -->
				<div class="address_info">
					<div class="street detail">
						{{card.recipient_address.street}}
					</div>
					<div class="street_two detail">
						{{card.recipient_address.city}}, {{finalOptions.address.state | stateAbbreviation}} {{card.recipient_address.zipcode}}
					</div>
				</div>
			</div>
			
		</div>

	</div>

</div>