<div class="cards_list">

	<div class="card" ng-repeat="queuedCard in queuedCards">

		<div class="select card_part">
		</div>
		<div class="image_div card_part" style="width: 200px;">
			<img class="image" ng-src="{{queuedCard.card_images[0]}}" />
		</div>
		<div class="information card_part">
			<h5>{{queuedCard.recipient.first_name}} {{queuedCard.recipient.last_name}}</h5>
		</div>

	</div>

</div>