<div ng-controller="CheckoutController" class="checkout_container">
	<div class="col-sm-6 col-lg-7 checkout_cards_container">
	 	<div ui-view="cards" class="cards_ui_view"></div>
	</div>
	<div class="col-sm-6 col-lg-5 checkout_purchase_container">
	 	<div ui-view="purchase" class="purchase_ui_view" style="width: 100%;"></div>
	</div>
</div>