<div ng-controller="CheckoutController" class="checkout_container">
	<div class="col-xs-7">
	 	<div ui-view="cards" class="checkout_cards_container" style="width: 100%;"></div>
	</div>
	<div class="col-xs-5">
	 	<div ui-view="purchase" class="checkout_purchase_container" style="width: 100%;"></div>
	</div>
</div>