<div class="payment_div">

	<div class="user_information">
		<div class="shipping">

			<div class="header">
				<h6 class="header_title">Step 1: Shipping Info</h6>
				<div class="options">
					<a class="link_option">new</a> / <a class="link_option">edit</a> / <a class="link_option" ng-click="toggleAddressList()">change</a>
				</div>
			</div>
			<hr class="border_line">

			<div class="selected_address">
				SELECTED ADDRESS:
				<!-- address info -->
				<div class="address_info selected">
					<div class="name detail">
						{{finalOptions.address.first_name}} {{finalOptions.address.last_name}}
					</div>
					<div class="street detail">
						{{finalOptions.address.street}}
						<div class="singleAddressOptions" style="float: right; padding-right:10px;">
							 <a class="link_option" ng-click="editAddress(finalOptions.address)">edit</a> / <a class="link_option">change</a>
						</div>
					</div>
					<div class="street_two detail">
						{{finalOptions.address.city}}, {{finalOptions.address.state | stateAbbreviation}} {{finalOptions.address.zipcode}}
					</div>
				</div>
			</div>

			<div class="address_list" ng-show="viewAddressList">

				<div class="address">
					
					<!-- address info -->
					<div class="address_info current" ng-repeat="address in user.addresses">
						<div class="name detail">
							{{address.first_name}} {{address.last_name}}
						</div>
						<div class="street detail">
							{{address.street}}
							<div class="singleAddressOptions" style="float: right; padding-right:10px;">
								 <a class="link_option" ng-click="editAddress(address)">edit</a> / <a class="link_option">change</a>
							</div>
						</div>
						<div class="street_two detail">
							{{address.city}}, {{address.state | stateAbbreviation}} {{address.zipcode}}
						</div>
					</div>

					<!-- update address form -->
					<div class="address_form" ng-show="editingAddress">
						<div class="name form_field">
							<div class="name">
								<div class="form_input first_name">
						      <input ng-model="editingAddress.first_name" type="text" placeholder="First Name"/>
						    </div>
						    <div class="form_input last_name">
						      <input ng-model="editingAddress.last_name" type="text" placeholder="Last Name"/>
						    </div>
							</div>
						</div>

						<div class="street form_field">
							<div class="street">
								<div class="form_input">
						      <input ng-model="editingAddress.street" type="text" placeholder="Street"/>
						    </div>
							</div>
						</div>

						<div class="address_other form_field">
							<div class="city">
								<div class="form_input">
						      <input ng-model="editingAddress.city" type="text" placeholder="City"/>
						    </div>
							</div>

							<div class="state">
								<div class="form_input">
									<select ng-model="editingAddress.state">
							  		<option value="">State</option>
							  		<% us_states.each { |state, abrv| %>
							  			<option value="<%= state %>"><%= abrv %></option>
										<% } %>
							  	</select>
								</div>
							</div>

							<div class="zip">
								<div class="form_input">
						      <input ng-model="editingAddress.zipcode" type="text" placeholder="Zip"/>
						    </div>
							</div>

							<div class="country">
								<div class="form_input">
									<country-select data-ng-model="editingAddress.country"></country-select>
								</div>
							</div>
						</div>

						<div class="options form_field">
							<div class="options">
								<div class="form_input is_primary">
						      <input id="is_primary_{{$index}}" class="checkbox" ng-model="editingAddress.is_primary" type="checkbox"/><label for="is_primary_{{$index}}">Save Address</label>
						    </div>
						    <!-- 
								<div class="form_input save_address">
						      <input id="save_address_{{$index}}" class="checkbox" ng-model="recipient.primary_address.street" type="checkbox"/><label for="save_address_{{$index}}">Save Address</label>
						    </div> -->
						    <div class="form_input change_address">
						      <a class="link_option" ng-click="saveAddress()">Save</a> / <a class="link_option" ng-click="cancelSave()">Cancel</a>
						    </div>
							</div>
						</div>
					</div>

				</div>
			
			</div>
		</div>

		<div class="payment">
			<div class="header">
				<h6 class="header_title">Payment Method</h6>
			</div>
			<hr>
		</div>
		

	</div>

</div>