<% provide(:title, "Signup") %>

<!-- this is inside a container right now -->
<div class="row" ng-controller="SignUpController as signUpCtrl">

  <div class="col-xs-8 col-xs-offset-2 form-container">
  	
  	<div ui-view></div>
	</div>
</div>
