<% provide(:title, "Signup") %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Sign up </h1>
		<%= form_for @user, html: { class: "signup_form" } do |f| %>
			<%= render 'shared/error_messages' %>
			<%= render 'fields', f: f %>

			<%= f.submit "Create my account", class: "btn btn-primary" %>

		<% end %>
	</div>
</div>
