<%= form_for @micropost, html: { class: "micropost_form" } do |f| %>
	
	<%= render 'shared/error_messages', form_object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Compose new tweet..." %>
	</div>
	<%= f.submit "Send tweet", class: "btn btn-primary" %>
<% end %>