<div style="margin-top: 15px;">
  <div ng-repeat="post in posts | orderBy: '-upvotes'">
    <button ng-click="upvote(post)" class="glyphicon glyphicon-thumbs-up"></button>
    {{post.upvotes}} upvotes
    <span style="font-size:20px; margin-left: 10px;">
      <a ng-show="post.link" href="{{post.link}}" target=_blank>
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
      |
      <span>
      	<!-- $index comes as part of ng-repeat -->
      	<a href="#/posts/{{$index}}">comments</a>
      </span>
    </span>
    
  </div>  
  
  <div style="margin-top: 30px;">
    <h3>Add New Post</h3>
    
    <div class="form-group">
      <textarea ng-model="newPostTitle" placeholder="title"/>    
    </div>
    <div class="form-group">
      <input type="text" ng-model="newPostLink" placeholder="link">
    </div>
    <button ng-click="newPostTitle && addPost()">Add Post</button>
  </div>
</div>