@import "bootstrap-sprockets";
@import "bootstrap";
@import "compass";

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 18px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

$grayed_out: #555;
$hover-blue: #5899D8;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

// size of each box in the header/side bar
$box_size: 80px;
$header_height: 80px;
$footer_height: 80px;

$logo_background: #BE6254;
$white_grey: #F9F9F9;
$ben_light_grey: #E8E8E8;
$normal_grey: #888888;
$medium_grey: #D7D7D7;
$medium_dark_grey: #BBBABA;
$dark_grey: #898989;
$extra_dark_grey: #4A4A4A;
$grey_box_shadow: 2px 3px 4px $normal_grey;

$box_border: 2px inset #C2C2C2;
$teal: #8ABAA7;
$light_teal: #A7C5B8;
$soft_red: #BF6959;
$salmon_red: #CA6556;

// relationship group colors
$teal_green: #8ABAA7;
$pacific_blue: #3D5DA2;
$navy_blue: #638895;
$golden_yellow: #E9B854;
$faded_blue: #98A7C2;

$dark_purple: #706897;
$purple: #7672A1;
$light_purple: #CFCBDB;
$extra_light_purple: #EAE9ED;

// my people colors
$selection_green: #00B00C;
$cta_red: #E0412C;
$link_click_purple: #867CAD;
$inactive_grey: #BCBBBD;
$active_grey: #1B1B1B;
$dark_teal: #598491;

// queue wizard colors
$wizard_red: #E76F6B;
$wizard_purple: #746999;
$wizard_grey: #F0F0F0;
$button_red: #C44228;
$button_shade_red: #983C2A;

// checkout colors
$save_blue: #589AC9;
$save_blue_shade: #426C98;
$cancel_grey: #BBBABA;
$cancel_grey_shade: #868686;
$hover_blue: #ECF7FD;
$link_blue: #64A4D0;

// login colors
$login_red: #E02C4B;

// mobile specific
$mobile_box_size: 120px;

@mixin base_font {
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
}

@mixin whole_screen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

$base-font-size: 18px;
$base-line-height:30px;
@include establish-baseline;

/**
 *          HELPER FUNCTIONS
 */
@mixin center_absolute {
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

/**
 * 			ANIMATIONS
 */
@include keyframes(slideOutLeft) {
    to      { @include transform(translateX(-200%)); }
}

/* slide in from the right */
@include keyframes(slideInRight) {
    from    { @include transform(translateX(200%)); }
    to      { @include transform(translateX(0)); }
}

@include keyframes(fadeIn) {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@include keyframes(fadeOut) {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


@import "form"