.icon {
	position: absolute;
	height: 25px;
	width: 25px;
}
.user_gravatar {
	border-radius: 50px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent !important;
}