<!-- all conditionals regarding back here -->
<div class="back">
	<button class="btn navigation_button left_align" ng-click="previousStep()"><i class="glyphicon glyphicon-arrow-left"></i></button>
</div>

<!-- center display for form state -->
<div class="main_display">
	<div class="title" ng-if="currentState == 'queue.home.step1'">
		Choose an Occasion
	</div>
	<div class="title" ng-if="currentState == 'queue.home.step2'">
		Choose a Flavor
	</div>
	<div class="title" ng-if="currentState == 'queue.home.step3'">
		Choose a Card
	</div>
	<div class="title" ng-if="currentState == 'queue.home.step4'">
		Pick a date
	</div>
	<br>
	<div>
		<p class="progress_bullets">
			<span class="bullet"><a ng-class="{'active': currentState == 'queue.home.step1'}" ui-sref=".step1">•</a></span>
			<span class="bullet"><a ng-class="{'active': currentState == 'queue.home.step2'}" ui-sref=".step2">•</a></span>
			<span class="bullet"><a ng-class="{'active': currentState == 'queue.home.step3'}" ui-sref=".step3">•</a></span>
			<span class="bullet"><a ng-class="{'active': currentState == 'queue.home.step4'}" ui-sref=".step4">•</a></span>
		</p>
	</div>
</div>

<!-- hold all conditionals regarding forward here -->
<div class="forward_container">

	<div class="forward">
		<button class="btn navigation_button right_align" ng-click="nextStep()" class="disabled" ng-class="{'disabled': !wizardStateisValid()}"><i class="glyphicon glyphicon-arrow-right"></i></button>
	</div>

</div>