<div ng-controller="QueueWizardController" class="queue_card">
	<div class="col-xs-4 recipients_container">
		<div class="inner_container" ui-view="recipients"></div>
	</div>

	<div class="col-xs-8 wizard_container">
		<div class="inner_container" ui-view="wizard"></div>
	</div>
</div>