<!-- center display for form state -->
<div class="main_display">
	<div class="title">
		Choose a Card
	</div>
	<br>
	<div>
		<p class="progress_bullets">
			<span class="bullet"><a ng-class="{'active': currentState == 'queue.home.step1'}" ui-sref=".step1">•</a></span>
			<span class="bullet"><a ng-class="{'active': currentState == 'queue.home.step2'}" ui-sref=".step2">•</a></span>
			<span class="bullet"><a ng-class="{'active': currentState == 'queue.home.step3'}" ui-sref=".step3">•</a></span>
			<span class="bullet"><a ng-class="{'active': currentState == 'queue.home.step4'}" ui-sref=".step4">•</a></span>
		</p>
	</div>
</div>