<div class="centered_view">
	<div class="question">
		Occasion: {{cards.newCard.occasion}}
	</div>
	<div class="question">
		Selected Card: {{cards.selectedCard}}
	</div>
	<div class="question">
		Recipient Date: {{cards.newCard.recipientArrivalDate}}
	</div>

</div>
