<div class="centered_view">
	<div class="question">
		<span>I want to send STEP TWO a card for </span><nl-select field-type="occasion" value="newCard.occasion" options="occasions" name="occasion">
	</div>
</div>