<div class="row flavor_filters_container">
	<div class="col-xs-12 flavor_filters">
		<div class="options_container">
			<div class="flavors">
				<span ng-class="{'selected': isInArray(id, selectedFlavorIDs)}" class="option" ng-repeat="(flavor, id) in cardFlavors" ng-click="selectFlavor(id)">{{flavor}}</span>
			</div>
			<div class="favorites">
				<div class="option">
					<i class="favorite glyphicon glyphicon-star-empty"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row cards_container">

	<div class="find_card" ng-show="cardsLoadingFirstTime">
		<span class="card-spinner" us-spinner spinner-key="card-find-spinner"></span>
	</div>

	<div ng-show="cardsLoadedFirstTime" class="cards_loaded_view" style="height: 100%;">
		<div class="col-xs-6 card_preview_container">

			<div class="preview_box">
				<div class="preview">
				</div>
			</div>

		</div>
		<div class="col-xs-6 filtered_choices_container">

			<div class="filtered_choices_box">
				<div class="find_card" ng-show="cardsLoading">
					<span class="card-spinner" us-spinner spinner-key="card-find-spinner"></span>
				</div>
				<div class="filtered_choices" ng-show="cardsLoaded">
					{{occasionCards}}

					<div>
						{{cards.occasionCards}}
					</div>
				</div>
				<!-- display each of the 6 choices here... -->
			</div>
			<div class="confirmation_box">
				<!-- this is where confirm card comes -->
			</div>
		</div>
	</div>
</div>
