<header class="header navigation">
	<div class="back">
		<button class="btn navigation_button left_align" ng-click="wizardBack()"><i class="glyphicon glyphicon-arrow-left"></i></button>
	</div>
	<div class="main_display">
		<div class="title">
			Choose a Card
		</div>
		<br>
		<div>
			<p class="progress_bullets">
				<span class="bullet"><a ui-sref-active="active" ui-sref=".profile">•</a></span>
				<span class="bullet"><a ui-sref-active="active" ui-sref=".address">•</a></span>
				<span class="bullet"><a ui-sref-active="active" ui-sref=".interests">•</a></span>
				<span class="bullet"><a ui-sref-active="active" ui-sref=".interests">•</a></span>
			</p>
		</div>
	</div>
	<div class="forward">
		<button class="btn navigation_button right_align" ng-click="wizardNext()"><i class="glyphicon glyphicon-arrow-right"></i></button>
	</div>
</header>
wizard page