<div class="centered_view">
	<div class="question">
		<span>I want to send {{testRecipient.first_name}} a card for </span><nl-select field-type="occasion" value="newCard.occasion" options="occasions" name="occasion">
	</div>

	<div ng-show="test">hello world</div>
	<button ng-click="triggerTest()">click me</button>
</div>