<div class="row flavor_filters_container">
	<div class="col-xs-12 flavor_filters">
		<div class="options_container">
			<div class="flavors">
				<span ng-class="{'selected': isInArray(id, selectedFlavorIDs)}" class="option" ng-repeat="(flavor, id) in cardFlavors" ng-click="selectFlavor(id)">{{flavor}}</span>
			</div>
			<div class="favorites">
				<div class="option">
					<i class="favorite glyphicon glyphicon-star-empty"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row cards_container" style="overflow-x: scroll;">

	<div class="find_card" ng-show="cardsLoadingFirstTime">
		<span class="card-spinner" us-spinner spinner-key="card-find-spinner"></span>
	</div>

	<div ng-show="cardsLoadedFirstTime" class="cards_loaded_view" style="height: 100%; min-width: 1500px;">
		<div class="col-xs-6 card_preview_container" style="overflow-x: scroll;">
			<div class="preview_box">
				<div class="preview outside" ng-if="previewSide == 'outside'">
					<div class="card_image" ng-if="cards.selectedCard.outsideImages[outsideImageCount]">
						<i class="glyphicon glyphicon-menu-left prev_image direction" ng-if="outsideImageCount > 0" ng-click="prevImage('outside')"></i>
						<img class="image" ng-src="{{cards.selectedCard.outsideImages[outsideImageCount].picture.url}}" />
						<i class="glyphicon glyphicon-menu-right next_image direction" ng-if="outsideImageCount < (outsideImageLength-1)" ng-click="nextImage('outside')"></i>
					</div>
				</div>
				<div class="preview outside" ng-if="previewSide == 'inside'">
					<div class="card_image" ng-if="cards.selectedCard.insideImages[insideImageCount]">
						<i class="glyphicon glyphicon-menu-left prev_image direction" ng-if="insideImageCount > 0" ng-click="prevImage('inside')"></i>
						<img class="image" ng-src="{{cards.selectedCard.insideImages[insideImageCount].picture.url}}" />
						<i class="glyphicon glyphicon-menu-right next_image direction" ng-if="insideImageCount < (insideImageLength - 1)" ng-click="nextImage('inside')"></i>
					</div>
				</div>
				<div class="preview_options">
					<div class="options">
						<div class="option" style="border-right: 1pt solid black;" ng-class="{'selected': (previewSide == 'outside')}" ng-click="selectPreviewSide('outside')">
							<h3>OUTSIDE</h3>
						</div>
						<div class="option" ng-class="{'selected': (previewSide == 'inside')}" ng-click="selectPreviewSide('inside')">
							<h3>INSIDE</h3>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-xs-6 filtered_choices_container">

			<div class="filtered_choices_box">
				<div class="find_card" ng-show="cardsLoading">
					<span class="card-spinner" us-spinner spinner-key="card-find-spinner"></span>
				</div>

				<div class="filtered_choices" ng-show="cardsLoaded">
					<!-- display each of the 6 choices here... -->
					<div class="choice" ng-repeat="card in cards.selectableCards" ng-class="{'selected': card == cards.selectedCard}" ng-click="selectCard(card)" ng-if="selectedFlavorIDs.length > 0">
						<div class="card_image">
							<img class="image" ng-src="{{card.card_images[0].picture.url}}" />
						</div>
						<div class="card_name">
							{{card.name}}
						</div>
					</div>

					<div class="no_choices" ng-if="selectedFlavorIDs.length == 0">
						<h3 style="text-align: center; font-style: italic;">Please select a flavor filter.</h3>
					</div>

					<div class="no_choices" ng-if="cards.selectableCards.length == 0">
						<h3 style="text-align: center; font-style: italic;">Sorry, we currently have no cards for your selected filter.</h3>
					</div>
				</div>
				
			</div>
			<div class="confirmation_box" ng-if="cards.selectedCard">
				<button class="card_button" ng-click="nextStep()">Pick Card</button>
			</div>
		</div>
	</div>
</div>
