<div class="find_card_step">
	<div class="find_card" ng-hide="cardsLoaded">
		Finding your perfect card...
		<span class="card-spinner" us-spinner spinner-key="card-find-spinner"></span>
	</div>

	<div class="find_card" ng-show="cardsLoaded">
		<img class="pick_card" ng-src="{{testImages.one}}"/>
		<input type="radio">
		<img class="pick_card" ng-src="{{testImages.two}}"/>
		<input type="radio">
		<img class="pick_card" ng-src="{{testImages.three}}"/>
		<input type="radio">
	</div>
<div>