<div ng-repeat="order in queuedCards" class="card_order compressed">
	<table cellpadding="0" cellspacing="0" style="margin: auto; height: 100%; width: 90%;">
		<tr style="width: 100%; text-align:center;">
			<td style="width: 33%;">
				{{order.recipient.first_name}} {{order.recipient.last_name}} <span ng-if="order.order_occasion.name">({{order.order_occasion.name}})</span>
			</td>
			<td style="width: 33%; text-align: center;">
				{{order.recipient_arrival_date | date:"MMM. d"}}
			</td>
			<td style="width: 33%; text-align:right;">
				<a href="#">Expand View</a>
			</td>
		</tr>
	</table>
</div>
<!-- this is the new card to send -->
<div class="card_order expanded">
	<form id="queue-card-form" name="queueCardForm" novalidate>

		<!-- each stage of new card form -->
		<div class="questions">
			<ui-view id="card_form_questions"></ui-view>
		</div>

		<div class="next_step" next-step></div>
		
	</form>
</div>



<br><br><br><br><br><br><br><br><br><br>


<% if false %>
<div class="card_order expanded">
	<div class="row">
		<form id="queue-card-form" name="queueCardForm" novalidate>
			<div class="row step_two">
				Card choices (images to select)
			</div>
			<div class="row step_two">
				Another one: <input type="text"></input>
			</div>
			<div class="row center next_step" style="margin-top: 65px;">
				<button class="btn">Back</button>
				<button class="btn btn-primary">Next</button>
				<a ng-click="takeFunction()">{{ item }}</a
				{{hello}}
			</div>
		</form>
	</div>
</div>

<div class="card_order expanded">
	<div class="row">
		<form id="queue-card-form" name="queueCardForm" novalidate>
			<div class="row step_two">
				Pre-address? (y / n)
			</div>
			<div class="row step_two">
				Address: 
				{{newCard.recipientAddress}}
				<input type="text" ng-model="newCard.recipientAddress"></input>
			</div>
			<div class="row center next_step" style="margin-top: 65px;">
				<button class="btn">Back</button>
				<button class="btn btn-primary">Next</button>
			</div>
		</form>
	</div>
</div>

<div class="card_order expanded">
	<div class="row">
		<form id="queue-card-form" name="queueCardForm" novalidate>
			<div class="row step_two">
				Any more notes? <input type="text"></input>
			</div>
			<div class="row step_two"></div>
			<div class="row center next_step" style="margin-top: 65px;">
				<button class="btn">Back</button>
				<button class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>


<% end %>