<!-- this is the new card to send -->
<div class="card_order expanded">
	<form id="queue-card-form" name="queueCardForm" novalidate>

		<!-- each stage of new card form -->
		<div class="questions">
			<ui-view id="card_form_questions"></ui-view>
		</div>

		<div class="next_step" next-step></div>
		
	</form>
</div>



<br><br><br><br><br><br><br><br><br><br>


<% if false %>
<div class="card_order expanded">
	<div class="row">
		<form id="queue-card-form" name="queueCardForm" novalidate>
			<div class="row step_two">
				Card choices (images to select)
			</div>
			<div class="row step_two">
				Another one: <input type="text"></input>
			</div>
			<div class="row center next_step" style="margin-top: 65px;">
				<button class="btn">Back</button>
				<button class="btn btn-primary">Next</button>
				<a ng-click="takeFunction()">{{ item }}</a
				{{hello}}
			</div>
		</form>
	</div>
</div>

<div class="card_order expanded">
	<div class="row">
		<form id="queue-card-form" name="queueCardForm" novalidate>
			<div class="row step_two">
				Pre-address? (y / n)
			</div>
			<div class="row step_two">
				Address: 
				{{newCard.recipientAddress}}
				<input type="text" ng-model="newCard.recipientAddress"></input>
			</div>
			<div class="row center next_step" style="margin-top: 65px;">
				<button class="btn">Back</button>
				<button class="btn btn-primary">Next</button>
			</div>
		</form>
	</div>
</div>

<div class="card_order expanded">
	<div class="row">
		<form id="queue-card-form" name="queueCardForm" novalidate>
			<div class="row step_two">
				Any more notes? <input type="text"></input>
			</div>
			<div class="row step_two"></div>
			<div class="row center next_step" style="margin-top: 65px;">
				<button class="btn">Back</button>
				<button class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>


<% end %>