Pick your card:
<img class="pick_card" ng-src="{{testImages.one}}"/>
<img class="pick_card" ng-src="{{testImages.two}}"/>
<img class="pick_card" ng-src="{{testImages.three}}"/>
<span us-spinner="{radius:30, width:8, length: 16}"></span>