<div class="step step_one">
			
	<div class="questions">
		I want to send a
		<nl-select value="newCardReal.occasionType" options="occasions"></nl-select> Card for my <nl-select value="newCardReal.recipientRelationship" options="relationships"></nl-select>, <nl-text value="newCardReal.recipientFirstName" placeholder="First" required></nl-text> <nl-text value="newCardReal.recipientLastName" placeholder="Last" required></nl-text>
	</div>
	
	<div class="next_step">
		<a ui-sref="home.app.step2" class="btn btn-primary">Start Process</a>
	</div>

</div>