<div class="find_card_step">
	<div class="find_card" ng-hide="cardsLoaded">
		Finding your perfect card...
		<span class="card-spinner" us-spinner spinner-key="card-find-spinner"></span>
	</div>

	<div class="find_card" ng-show="cardsLoaded">
		<div style="margin-bottom: 15px;">Pick a card!</div>
		<div class="pick_card" ng-repeat="card in newCard.curatedCards">
			
			<label>
				<input type="radio" name="chosenCard" value="{{card.id}}" ng-model="newCard.selectedCardID">
				<img class="pick_card" ng-src="{{card.card_images[0]}}" />	
			</label>
			
			</img>
		</div>
<div>