<div class="greeting_central_view">
	<aside class="col-md-3 col-xs-3" ng-controller="ManageRecipientsController">
		<div ui-view="my_people"></div>
	</aside>

	<div class="col-md-9 col-xs-9 card_queue" ng-controller="CardQueueController">
		<div ui-view="calendar"></div>
	</div>
</div>
