<div class="card_orders">
	<div class="row">
		<div class="col-xs-10" ng-controller="CardQueueController">

			<div ui-view="form"></div>

		</div>

		<div class="col-xs-2">

			<div ui-view="checkout"></div>

		</div>

	</div>
</div>
