<div class="card_orders">
	<div class="row" ng-controller="CardQueueController">
		<div class="col-xs-10">

			<div ui-view="form"></div>

		</div>

		<div class="col-xs-2">

			<div ui-view="checkout"></div>

		</div>

	</div>
</div>
