<!-- main layout if logged in -->
<header>
 <div ui-view="main_header" class="navbar"></div>
</header>
<aside ui-view="main_left_bar" class="left_bar"></aside>
<div class="logged_in_home" ui-view="container"></div>
<footer>
</footer>
<div class="footer center" ui-view="main_footer"></div>