<div ng-controller="CardQueueController">
	<aside class="col-md-3 col-xs-3">
		<section class="card_queue">
			<div class="section" style="background-color: lightgray; padding: 5px;">
				<h2>Purchased Queue ({{purchasedCards.length}}):</h2>
				<table>
						<tr ng-repeat="order in purchasedCards" style="width: 100%;">
							<td style="width: 45%; text-align: left; overflow-x: hidden;">
								{{order.recipient.first_name}} {{order.recipient.last_name}}
							</td>
							<td style="width: 35%; text-align: left; overflow-x: hidden;">
								{{order.recipient_arrival_date | date:"MMM. d"}}
							</td>
							<td style="width: 20%; text-align: left; overflow-x: hidden;">
								<a href="#">details</a>
							</td>
						</tr>
				</table>
			</div>
		</section>

		<div class="checkout" style="background-color: lightgray; padding: 5px; margin-top:20px;">
			<h3>Queued Cart ({{queuedCards.length}}):</h3>
			<div ng-repeat="order in queuedCards" class="card_order compressed">
				<table cellpadding="0" cellspacing="0" style="margin: auto; height: 100%; width: 90%;">
					<tr style="width: 100%; text-align:center;">
						<td style="width: 50%;">
							<span style="font-size: 0.8em;">{{order.recipient.first_name}} {{order.recipient.last_name}}</span> <span ng-if="order.order_occasion.name" style="font-size: 0.8em;">({{order.order_occasion.name}})</span>
						</td>
						<td style="width: 50%; text-align: right;">
							<span style="font-size: 0.8em;">
							{{order.recipient_arrival_date | date:"MMM. d"}}
						</span>
						</td>
					</tr>
				</table>
			</div>
			<div class="checkout_button" style="text-align:center;">
				<a class="btn btn-primary" href="/checkout">Check Out</a>
			</div>
		</div>
	</aside>

	<div class="col-md-9 col-xs-9 card_queue">
		<div class="card_orders">
			<div class="row">
				<div class="col-xs-12">
					<div ui-view="form"></div>

				</div>

				<% if false %>
				<div class="col-xs-2">
					<div ui-view="checkout"></div>
				</div>
				<% end %>

			</div>
		</div>

	</div>
</div>