<div>
	<aside class="col-md-3 col-xs-3" ng-controller="ManageRecipientsController">
		<div class="my_people_section">
			<div class="my_people">
				<div class="table_header">
					<div class="title">
						<div>
							<span>
								My People ({{currentRecipients.length}})
							</span>
						</div>
					</div>
					<div class="add">
						<div>
							<span>+</span>
						</div>
					</div>
				</div>
				<table class="recipients">
					<tr ng-repeat="recipient in currentRecipients" class="recipient_row">
						<td class="image_cell">
							<img class="recipient_image" ng-src="{{testImage}}" />
						</td>
						<td class="info_cell">
							<span class="recipient_info name">{{recipient.first_name}} {{recipient.last_name}}</span>
							<span class="recipient_info relationship">{{recipient.relationship.name}}</span>
							<span class="recipient_info birthday">Birthday in 187 days</span>
							<!-- {{order.recipient_arrival_date | date:"MMM. d"}} -->
						</td>
						<td class="actions_cell">
							<div class="notifications">
							  <div class="notification_container">
							  	<a href="#" id="view_queued">
								  	<%= image_tag('queued_icon.png', alt: 'Queued Orders', class: "icon") %>
								  	<span id="queued_count" class="notification_bubble">1</span>
							  	</a>
							  </div>
							  <div class="notification_container">
							  	<a href="#" id="view_purchased">
								  	<%= image_tag('purchased_icon.png', alt: 'Purchased Orders', class: "icon") %>
								  	<span id="purchased_count" class="notification_bubble">2</span>
							  	</a>
							  </div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	

		<!-- ignore this checkout for now -->
		<% if false %>
		<div class="checkout" style="background-color: lightgray; padding: 5px; margin-top:20px;">
			<h3>Queued Cart ({{queuedCards.length}}):</h3>
			<div ng-repeat="order in queuedCards" class="card_order compressed">
				<table cellpadding="0" cellspacing="0" style="margin: auto; height: 100%; width: 90%;">
					<tr style="width: 100%; text-align:center;">
						<td style="width: 50%;">
							<span style="font-size: 0.8em;">{{order.recipient.first_name}} {{order.recipient.last_name}}</span> <span ng-if="order.order_occasion.name" style="font-size: 0.8em;">({{order.order_occasion.name}})</span>
						</td>
						<td style="width: 50%; text-align: right;">
							<span style="font-size: 0.8em;">
							{{order.recipient_arrival_date | date:"MMM. d"}}
						</span>
						</td>
					</tr>
				</table>
			</div>
			<div class="checkout_button" style="text-align:center;">
				<a class="btn btn-primary" href="/checkout">Check Out</a>
			</div>
		</div>
		<% end %>

	</aside>

	<div class="col-md-9 col-xs-9 card_queue" ng-controller="CardQueueController">
		<div class="card_orders">
			<div class="row">
				<div class="col-xs-12">
					<div ui-view="form"></div>

				</div>

				<% if false %>
				<div class="col-xs-2">
					<div ui-view="checkout"></div>
				</div>
				<% end %>

			</div>
		</div>

	</div>
</div>