<div class="icon_holder">
	<div ui-sref-active="active">
		<a class="state_link box logo" ui-sref="main.app.greeting_central.home">
			<h3 class="title" style="text-align: center;">
				C
			</h3>
		</a>
	</div>
	<div ui-sref-active="active">
		<a ui-sref="main.app.my_people.home" class="state_link box side_link" id="my_people">
			My People
		</a>
	</div>
	<div>
		<div class="box">hello</div>
	</div>
	<div>
		<div class="box">hello</div>
	</div>
	<div>
		<div class="box">hello</div>
	</div>
</div>
