<div>
  <nav>
		<ul>
			<% if false %>
			<li><%= link_to "Contact", contact_us_path %></li>
			<% if logged_in? %>
				<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<% else %>
				<li><%= link_to "Sign up", signup_path %></li>
				<li><%= link_to "Log in", login_path %></li>
			<% end %>
			<% end %>
		</ul>
	</nav>
</div>
