<div class="icon_holder">
	<div ui-sref="main.app.greeting_central.home" ui-sref-active="active" class="tab_button logo">
		<a class="state_link">
			<h3 class="title" style="text-align: center;">
				C
			</h3>
		</a>
	</div>
	<div ui-sref="main.app.my_people.home" class="tab_button" ui-sref-active="active">
		<a class="state_link side_link" id="my_people">
			My People
		</a>
	</div>
	<div class="tab_button" ui-sref="main.app.queued_cards.home" ui-sref-active="active">
		<a class="state_link side_link" id="queued_cards">
			Queued Cards
		</a>
	</div>
	<div class="tab_button" ui-sref="main.app.settings.home" ui-sref-active="active">
		<a class="state_link side_link" id="settings">
			Settings
		</a>
	</div>
	<!-- <div ui-sref-active="active">
		<a ui-sref="main.app.queued_cards.home" class="state_link side_link" id="queued_cards">
			Queued Cards
		</a>
	</div> -->
</div>
