<!-- header only if logged in -->
<nav class="header_container" ng-if="user.status.logged_in">
	<!-- floated left -->
	<div class="title_container">
		<h3 id="currentTitle" class="title">
			{{headerTitle}}
		</h3>
	</div>
	<!-- floated right this will only show up on website -->
	<div>
		<ul class="nav navbar-nav">
			<li class="dropdown pull-right right_most">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img ng-src="{{user.currentUser.gravatar_url}}" alt="{{user.currentUser.first_name}}" class="user_gravatar" /></a>
				<ul class="dropdown-menu dropdown-menu-right absolute">
					<li><span style="cursor: default;">{{user.currentUser.email}}</span></li>
					<li class="divider"></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Settings</a></li>
					<li class="divider"></li>
					<li ng-if="user.currentUser.is_admin"><span><a href="/admin/" >Admin</a></li>
					<li><span><a href="/card_survey/index">Card Survey</a></span></li>
					<li class="divider"></li>
					<li>
						<a style="cursor: pointer;" ng-click="logOut()">Log Out</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
