<div class="icon_holder">
	<div ui-sref="main.app.my_people.home" class="tab_button my_people" ui-sref-active="active">
		<i class="basic_icon footer_icon my_people_image"></i>
	</div>
	<div class="tab_button" ui-sref="main.app.occasions.home" ui-sref-active="active">
		<i class="basic_icon footer_icon occasions_image"></i>
	</div>
	<!-- <div ui-sref="main.app.greeting_central.home" ui-sref-active="active" class="tab_button queue_card"> -->
	<div class="tab_button queue_card" ng-click="startQueueCardState()" ng-hide="myPeopleState == 'Queue Wizard'"> <!-- have it ng click option to show warning for each tab you're potentially on UNLESS YOU ARE ALREADY IN QUEUE CARD STATE -->
		<i class="basic_icon footer_icon queue_card_image"></i>
	</div>
	<div class="tab_button queue_card" ng-click="resetMyPeopleState()" ng-show="myPeopleState == 'Queue Wizard'"> <!-- have it ng click option to show warning for each tab you're potentially on -->
		<i class="basic_icon footer_icon queue_card_image"></i>
	</div>
	<div class="tab_button" ui-sref="main.app.queued_cards.home" ui-sref-active="active">
		<i class="basic_icon footer_icon queued_cards_image"></i>
	</div>
	<div class="tab_button" ui-sref="main.app.settings.home" ui-sref-active="active">
		<i class="basic_icon footer_icon settings_image"></i>
	</div>
</div>