<div class="icon_holder">
	<div>
		<a class="state_link box logo" href="#/">
			<h3 class="title" style="text-align: center;">
				C
			</h3>
		</a>
	</div>
	<div>
		<a href="#/my_people/" class="state_link box side_link" id="my_people">
			My People
		</a>
	</div>
	<div>
		<div class="box">hello</div>
	</div>
	<div>
		<div class="box">hello</div>
	</div>
	<div>
		<div class="box">hello</div>
	</div>
</div>
