<div class="my_people_section">
	<div class="my_people">
		<div class="table_header">
			<div class="title">
				<div>
					<span>
						My People ({{currentRecipients.length}})
					</span>
				</div>
			</div>
			<div class="add">
				<div>
					<span ng-click="open_modal_form(newRecipient)">+</span>
				</div>
			</div>
		</div>
		<table class="recipients">
			<tr ng-repeat="recipient in currentRecipients" class="recipient_row">
				<td class="image_cell">
					<div class="profile_picture_container">
						<div class="profile_picture">
							<img class="image" ng-src="{{recipient.profile_picture}}" />
						</div>
					</div>
					<!-- <img class="recipient_image" ng-src="{{testImage}}" /> -->
				</td>
				<td class="info_cell">
					<span class="recipient_info name">{{recipient.first_name}} {{recipient.last_name}}</span>
					<span class="recipient_info relationship">{{recipient.relationship.name}}</span>
					<span class="recipient_info birthday">Birthday in 187 days</span>
					<!-- {{order.recipient_arrival_date | date:"MMM. d"}} -->
				</td>
				<td class="actions_cell">
					<div class="notifications">
					  <div class="notification_container">
					  	<a href="#" class="view_queued">
						  	<%= image_tag('queued_icon.png', alt: 'Queued Orders', class: "icon") %>
						  	<span class="notification_bubble queued_count">1</span>
					  	</a>
					  </div>
					  <div class="notification_container">
					  	<a href="#" class="view_purchased">
						  	<%= image_tag('purchased_icon.png', alt: 'Purchased Orders', class: "icon") %>
						  	<span ng-click="addEvent(recipient)" class="notification_bubble purchased_count">2</span>
					  	</a>
					  </div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>