<div class="row links_row" style="margin-top:100px;">
	<div class="row pull-right">
		<div class="col-xs-12">
			<div>
				<%= link_to "Create Card", new_admin_card_path, class: "btn link_button" %>
			</div>
		</div>
	</div>
</div>