/**
 * 				STYLE FOR ADMIN CARDS PAGE
 */

// div containing each row of card
.card_admin_row {

	.card_id {
		text-align: left;
		padding-left: 20px;
	}

	// the checkbox options div
	.card_options {
		h5 {
			font-size: 1.5em;
			text-decoration: underline;
		}
	}
}