/**
 * 				STYLE FOR ADMIN CARDS PAGE
 */

// div containing each row of card
.card_admin_row {

	.card_id {
		text-align: left;
		padding-left: 20px;
	}

	// the checkbox options div
	.card_options {
		h5 {
			font-size: 1.5em;
			text-decoration: underline;
		}
	}

	.card_image {
		max-width: 300px;
	}

	.vendor_select {
		margin-bottom: 15px;
	}

	.category_separator {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.filter_row {
	background-color: darkgrey;
	padding: 15px 20px;
	.filter_title {
		text-align: left;
		padding-left: 20px;
	}
	h4 {
		font-weight: bold;
		text-decoration: underline;
	}

}
.links_row {
	margin-bottom: 10px;
}

a {
	&.link_button {
		background-color: darkslategrey;
		color: white;
	}
	&:hover {
		background-color: darkslateblue !important;
		color: white !important;
	}
}
