@import "base";

.checkout_container {

	hr.border_line {
		margin: 10px 0 0 0;
	}

	.checkout_cards_container {

		min-width: 471px;
		float: left;
		padding-right: 25px;

		.subtotal {
			font-weight: 600;
			height: 15px;
			.title {
				margin: 0;
			}
		}

		.cards_ui_view {
			width: 100%;

			.cards_list {
				height: 700px;
				overflow-y: scroll;
			}
			.card {
				 width: 100%;
				 padding: 0;
				 float: left;
				 margin: 10px 0;

				 h4, h5 {
				 	margin: 0;
				 }

				 .card_part {
					display: inline-block;
					&.select {
						float: left;
						height: 100%;
						margin-right: 10px;
						input {
							width: 20px;
							height: 20px;
						}
					}
					&.image_div {
						float: left;
						margin-right: 40px;
						.image {
							height: 225px;
						}
					}
					&.information {
						float: left;
						height: 100%;
					}
					.info {
						margin-bottom: 20px;
					}
				}
			}
		}
	}

	.checkout_purchase_container {

		margin-bottom: 25px;
		min-width: 471px;
		float: left;
		padding-right: 25px;

		.link_options {
			line-height: 0.9em;
			cursor: default;
			color: $link_blue;
			border-bottom: 1pt solid $link_blue;
			display: inline;
			&.singleAddressOptions {
				float: right;
				margin-right: 10px;
			}
			.link_option {
				cursor: pointer;
				&:hover {
					color: scale-lightness($link_blue, -60%);
					text-decoration: none;
				}
			}
		}
		

		.purchase_ui_view {
			width: 100%;
			float: left;
			width: 100%;

			.payment_div {

				padding: 0;
				
				.user_information {
					float: left;
					width: 100%;
					// @include border-radius(2px);
		   //  	@include box-shadow(1px 3px 1px lightgrey, 0px 2px 5px rgba(0,0,0,.7));

					// shared between shipping + payment
					.header {
						color: purple;
						.header_title {
							font-weight: 600;
							font-size: 1em;
							margin: 0;
							display: inline-block;
						}
						.options {
							float: right;
							display: inline-block;
							a {
								color: blue;
							}
						}
					}

					// shipping specific
					.shipping, .payment {
						.header {
							margin-top: 10px;
							height: 15px;
						}

						.selected_address, .selected_payment {
							padding: 10px 0;
						}

						.address_info, .payment_info {
							padding: 10px 0 10px 15px;
							display: table;
							width: 100%;
							height: 100%;


							.selectAddressSection, .selectPaymentSection {
								display: table-cell;
								vertical-align: middle;
								width: 40px;
								input {
									width: 18px;
									height: 18px;
								}
							}
							.detailsSection {
								display: table-cell;
								height: 100%;
							}
							.name {
								font-weight: bold;
							}
							.detail {
								line-height: 1.2em;
							}
						}
						.addresses, .payments {
							.address_info, .payment_info {
								border-bottom: 1pt solid lightgrey;
								&.selected {
									background-color: $hover_blue;
								}
							}
							.new_address_option, .payment_option {
								padding: 10px 0 10px 25px;
							}
						}
						.address_form, .payment_form {
							float: left;
							padding: 10px 0;
							width: 100%;
							margin: 0 auto;
							
							.name {
								.form_input {
									width: 49%;
									display: inline-block;
								}
								.first_name {
									float: left;
								}
								.last_name {
									float: right;
								}
							}

							.form_input {
								input {
									padding-left: 5px;
								}
							}

							// custom widths for the address forminputs on checkout
							.city {
								width: 30%;
							}
							.state {
								width: 15.5%;
							}
							.zip {
								width: 16.5%;
							}
							.country {
								width: 32%;
							}

							// custom widths for payment method
							.month {
								width: 150px;
								margin-right: 2px;
								float: left;
							}
							.year {
								width: 80px;
								float: left;
								margin-right: 15px;
							}
							.cvc {
								width: 85px;
								float: left;
								input {
									width: 60px;
									float: left;
								}
								.glyphicon {
									float: left;
									width: 20px;
									left: 5px;
									top: 12px;
									color: $link_blue;
								}
								.cvcTooltip {
									left: 10px;
								}
							}

						}
						.form_field {
							margin: 5px 0;
							&.actions {
								margin-top: 15px;
							}
						}

						.options {
							.save_address, .save_payment, .is_primary, .same_as_shipping_address {
								.checkbox {
									height: 1em;
									width: 1em;
									float: left;
									margin-right: 5px;
									margin-top: 3px;
								}
								label {
									float: left;
									height: 1em;
									font-weight: normal;
								}
							}
							.change_address {
								float: right;
							}
						}
						

					}

					// credit card specific
					.payment {
						float: left;
						width: 100%;

						.border_line {
							margin-top: 5px;
						}
						.card_icons {
							margin: 10px 0;
						}
					}

				}
			}
		}
	}

	.shipping_button {
		display: inline-block;
		font-size: 1.1em;
		padding: 5px 0;

		&.cancel {
			width: 49%;
			float: left;
			background-color: $cancel_grey;
			@include border-radius(2px);
			@include box-shadow(1px 2px 1px $cancel_grey_shade, 0px 2px 5px rgba(0,0,0,.7));
			&:active {

				@include box-shadow(1px 1px 1px $cancel_grey, 0px 1px 2px rgba(0,0,0,.9));
			    position: relative;
			    top: 2px;
			}
		}
		&.save {
			width: 49%;
			float: right;
			background-color: $save_blue;
			@include border-radius(2px);
			@include box-shadow(1px 2px 1px $save_blue_shade, 0px 2px 5px rgba(0,0,0,.7));
			&:active {

				@include box-shadow(1px 1px 1px $save_blue, 0px 1px 2px rgba(0,0,0,.9));
			    position: relative;
			    top: 2px;
			}
		}
	}
}