@import "base";

.checkout_container {

	.link_option {
		cursor: pointer;
	}

	hr.border_line {
		margin-top: 10px;
	}

	.checkout_cards_container {

		.subtotal {
			font-weight: 600;
			height: 15px;
			.title {
				margin: 0;
			}
		}

		.cards_ui_view {
			width: 100%;

			.cards_list {
				height: 700px;
				overflow-y: scroll;
			}
			.card {
				 width: 100%;
				 padding: 20px 0 20px 15px;

				 .card_part {
					display: inline-block;
					&.image_div {
						.image {
							width: 150px;
						}
					}
				}
			}
		}
	}

	.checkout_purchase_container {

		.purchase_ui_view {
			width: 100%;

			.payment_div {

				padding: 0 10px;
				
				.user_information {
					float: left;
					width: 100%;
					// @include border-radius(2px);
		   //  	@include box-shadow(1px 3px 1px lightgrey, 0px 2px 5px rgba(0,0,0,.7));

					// shared between shipping + payment
					.header {
						
						.header_title {
							color: purple;
							font-weight: 600;
							font-size: 1em;
							margin: 0;
							display: inline-block;
						}
						.options {
							float: right;
							display: inline-block;
							a {
								color: blue;
							}
						}
					}

					// shipping specific
					.shipping {
						.header {
							margin-top: 10px;
							height: 15px;
						}

						.address_info {
							padding: 5px 0 5px 25px;
							background-color: white;
							display: none;
							&.show {
								display: block;
							}
							.detail {
								line-height: 1.2em;
							}
						}
						.address_form {
							float: left;
							background-color: white;
							padding: 10px 20px;

							.name {
								.form_input {
									width: 49%;
									display: inline-block;
								}
								.first_name {
									float: left;
								}
								.last_name {
									float: right;
								}
							}

							.form_input {
								input {
									padding-left: 5px;
								}
							}

							// custom widths for the address forminputs on checkout
							.city {
								width: 29%;
							}
							.state {
								width: 14.5%;
							}
							.zip {
								width: 15.5%;
							}
							.country {
								width: 32%;
							}

						}
						.form_field {
							margin: 5px 0;
						}

						.address_list {
							.address_info {
								border-bottom: 1pt solid grey;
							}
						}

						.options {
							.save_address, .is_primary {
								.checkbox {
									height: 1em;
									width: 1em;
									float: left;
									margin-right: 5px;
									margin-top: 3px;
								}
								label {
									float: left;
									height: 1em;
									font-weight: normal;
								}
							}
							.change_address {
								float: right;
							}
						}
						

					}

					// credit card specific
					.payment {
						float: left;
						width: 100%;

					}

				}
			}
		}
	}
}