@import "base";

/**
 *      ADDRESS FORM ON CHECKOUT
 */
.address_list, .card_list { // ul of addresses
  
  overflow: hidden;
  list-style-type: none;
  margin-left: 0;

  li.address, li.card {

    // div to show address
    .address_info, .card_info {
      width: 60%;
      float: left;
      padding-left: 30px;
      padding-right: 10px;
      box-sizing: border-box;
      .default_notice {
        margin-top: 5px;
        span {
          color: lightgray;
          font-size: 1.2em;
        }
      }
    }
    .address_actions, .card_actions {
      width: 25%;
      float: right;
      padding-left: 12px;
      box-sizing: border-box;
      display: none;
    }

    // when radio button is selected for this address
    &.selected {
      .address_actions, .card_actions {
        display: block;
      }
    }
    
    .address_item:hover, .card_item:hover {
      background: scale-lightness($button-blue, 50%);
    }
    .address_item, .card_item {
      cursor: pointer;
      padding: 25px;
      width: 100%;
      .card_item_display {
        width: 100%;
      }
      span {
        font-weight: normal;
        font-size: 1.5em;
      }
      .brand_icon {
        position:absolute;
        top: 65px;
        left: 130px;
      }
      .card_description {
        margin-left: 85px;
      }
    }
  }
  
  .select_address, .select_card {
    height: 2em;
    width: 2em;
    display: inline-block;
    float: left;
    margin-top: 3em;
  }

  // div to edit address
  .address_form_div, .card_form_div {
    width: 100%;
    display: none;
    .address_form, .card_form {
      position: relative;
      overflow: hidden;
      margin: 0 auto;

      .form_field {
        margin: 12px 0;
        &.default {
          .default_input {
            display: inline-block;
          }
        }

        .form_input {
          input, select, button {
            width: 100%;
            line-height: 2.5em;
            font-size: 16px;
            height: 50px;
          }
          &.update {
            width: 58%;
            display: inline-block;
          }
          &.cancel {
            width: 40%;
            margin-left: 1%;
            display: inline-block;
          }
          select {
            
            border-radius: 0px;
            background: transparent;

          }
        }

        .form_label {
          font-weight: 400;
          font-size: 12px;
          width: 100%;
        }

        // ADDRESS FIELDS
        &.name {
          .first_name {
            width: 51.7%;
            display: inline-block;
            padding-right: 2.5%;
            white-space: nowrap;
          }
          .last_name {
            width: 48%;
            float: right;
          }
        }

        &.city {
          width: 40%;
          float: left;
          margin-right: 3%;
        }
        &.state {
          width: 17%;
          float: left;
        }
        &.zipcode {
          float: right;
          width: 37%;
        }

        // CARD FIELDS
        &.details {
          .expiration {
            width: 35%;
            display: inline-block;
            select.card_month {
              width: 55%;
            }
            select.card_year {
              width: 40%;
              margin-left: 1%;
            }
          }
          .verification {
            width: 20%;
            display: inline-block;
            .form_input {
              width: 50%;
            }
          }
        }

        // div to set card's billing address
        &.billing_address {
          .default_address {
            display: block;
          }
          .new_address {
            display: none;
          }
        }

        .billing_choice_input, .default_choice_input {
          display: inline-block;
        }

      }
    }
  } 
}

