@import 'base';

// div surrounding form group div
.form-container {
}

// active section of sign up
.active {
	color: black;
}

// immediate div outside of form
.form {
	@include form_font;

	// div around each form input that contains label as well
	.form_field {
		position: relative;
		margin: 0 0;

		.form_input {
			margin: 10px 0;
			&.password_input {
				margin: 0;
			}
		}

		// div that surrounds form <submit>
		&.submit {
			margin-top: 0;
			text-align: center;
			margin-bottom: 20px;
		}

		// the labels in the form
		.form_label {
			@include standard_form_label;
		}

		// the div that surrounds form <input>
		.form_input {
			@include standard_form_input;

			// custom button for form submits
			.submit-btn {
				width: 55%;
				line-height: 1.5em;
				font-size: 25px;
				color: white;
				&.btn {
					background-color: gray;
				}
			}
		}
	}

	// handle errors in a form-field div
	.has-error {
		input, select {
			// border-color: $error-color;
		}
	}
	li.has-error {
		// color: $error-color;
	}

	// this will be the transition
	.invalid-message-holder {
		height: 15px;
		margin-top: -10px;
		width: 100%;
		clear: both;
	}
	.invalid-message {
  	color: $error_red;
  	font-size: 12px;
  	margin-top: 4px;
  	strong {
  		font-weight: 400 !important;
  	}
	}
}
