@import "base";

/**
 * 		LOGGED OUT HOME / SPLASH PAGE
 */

.splash_page {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #3D3D3D;
	padding-top: 10%;

	// the container of the middle of the splash page
	.container {
		max-width: 1000px;

		// the div containing the logo and texts
		.hero {
			position: relative;
			z-index: 0;
			text-align: center;
		}
		.early_access_container {
			font-size: 34px;
			margin-top: 40px;

			.email_input {
				padding: 8px;
				padding-left: 14px;
				width: 69%;
				float: left;
				&:focus {
					outline: 0;
				}
			}
			.submit {
				padding: 10px;
				width: 29%;
				float: right;
				color: white;
				background-color: $yes_button_red;
				outline: 0;
				border: 0;
			}
		}
	}

	.tagline {
		color: white;
		text-align: center;
		font-family: $base-font-family;
		font-weight: lighter;
		font-size: 50px;
		line-height: 56px;
	}
	.splash.subline {
		color: #9769CE; // purple
		text-align: center;
		font-family: $base-font-family;
		font-weight: lighter;
		font-size: 42px;
		line-height: 48px;
	}
	.tagline_description {
		color: white;
		font-size: 24px;
		line-height: 36px;
		margin: 0;
	}
}
