@import "base";

$login_box_shadow: 1px 1px 2px 0px rgba(58,58,58,0.50);

.login_page {
	background-color: $beige;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	.login_image {
		text-align: center;
		margin-bottom: 60px;
	}

	// the centered box to log-in
	.login_box {
		box-shadow: $login_box_shadow;
		background: #FFFFFF;
		border-radius: 4px;
		min-height: 354px;
		width: 464px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -229px 0 0 -232px;
		padding: 32px 30px;

		.invalid_message_container {
			margin: 6px 0;
			.invalid_message {
		  	color: $login_red;
		  	font-style: italic;
		  	float: left;
		  	font-size: 14px;
		  }
		}

	  .info_message {
	  	margin: 6px 0;
	  	font-size: 14px;
	  }

	  .form_input {

			position: relative;
			float: left;
	  	width: 100%;

			.text_field {
	      width: 100%;
	      height: 44px;
	      text-indent: 32px;
	      border: 1pt solid $medium_dark_grey;
	      border-radius: 0;

	      &:focus {
	        outline: 0;
	      }
	      &.password {
	      }
	    }

	    .text_field_icon {
	    	position: absolute;
	    	left: 18px;
	    	top: 14px;
	    	color: $dark_grey;
	    	font-size: 0.8em;
	    }

	    .form_text {
	    	font-size: 14px;
	    	font-weight: normal;
	    }

	    .remember_me_container {
	    	display: inline-block;
	    	margin: 0;
	    	.remember_me_checkbox {
		    	position: absolute;
		    	margin: 0;
		    	width: 20px;
		    	height: 32px;
		    }
		    .remember_me_text {
		    	font-size: 14px;
		    	font-weight: normal;
		    	margin-left: 24px;
		    }
	    }

	    .forgot_password_container {
	    	float: right;
	    	.forgot_password_link {
	    		font-size: 14px;
	    		font-weight: normal;
	    		color: black;
	    	}
	    }
	    
	    .signup_text, .form_text, .signup_link {
	    	font-size: 14px;
	    	font-weight: normal;
	    }

	    
		}

	}
}

/**
 * reusable button style for signup / login
 */
.button_container {
	text-align: center;
	margin-top: 30px;
	&.signup_button_container {
		margin-top: 0;
	}
	.submit_button {
		background-color: $login_red;
		color: white;
		width: 300px;
		height: 40px;
		border: none;
		border-radius: 4px;
		text-decoration: none;
		&.login_button {
			width: 300px;
		}
		&.signup_button {
			width: 160px !important;
			font-size: 18px !important;
			line-height: 21px !important;
			padding: 12.5px 0 !important;
			&:hover {
				background-color: $login_red;
			}
			&:focus {
				background-color: $login_red;
			}
		}
		&.main_signup_button {
			font-size: 24px !important;
			padding: 15px 0 !important;
			line-height: 28px !important;
			width: 400px !important;
			float: left;
			height: inherit;
			&:hover {
				background-color: $login_red;
			}
			&:focus {
				background-color: $login_red;
			}
		}
		&.reset_password_button {
			width: 241px;
		}
		&:focus {
	    outline: 0;
	  }
	}	
}
