@import "base";
$modal_profile_picture_size: 110px;

/**
 * 		LOGGED IN HOME PAGE
 */
.logged_in_home {
	margin-left: $box_size + 15;
	margin-top: 20px;
	margin-right: 20px;
	min-height: 780px;

	.greeting_central_view {
		min-width: 1100px;
	}

	// .my_people_view {		
	// }
}
/**
 * 		LEFT-HAND SECTION (USER INFO)
 */
.user_info {
	h2 {
		font-size: 16px;
		margin: 0 auto;
	}
	.section {
		float: left;
	}
}

// the modal to add/update recipients
.recipient_modal_form {

	// .modal-dialog {
 //    width :90%;
 //    max-width: 600px;
	// }

	// top half of modal
	.recipient_info {

		.photo {
			display: inline-block;
			float: left;
			width: 20%;
			margin-right: 3%;
			img {
				margin-top: 10%;
				width: 100%;
				border-radius: 52px;
				border: 2pt solid white;
			}
		}
		.profile_picture_container {

			height:100%;
			float: left;
			width: 0;

			// recipient picture
			.profile_picture {
				height: $modal_profile_picture_size; 
				width: $modal_profile_picture_size; 
				overflow:hidden;
				-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); //overflow hidden for chrome
				background-color: $light_grey;
				border: 2pt solid white;

				margin: 0 auto;
				margin-top: 5px;
				float: left;

				border-radius: 50%;
				position: relative;

				.image {
					position: absolute;
					bottom: 0;
					height: $modal_profile_picture_size;
				}

			}

			.picture_upload {
				float: left;
				margin-top: 15px;
			}
		}

		.basic_info {
			display: inline-block;
			width: 75%;
			float: right;

			.name {
				.first_name {
					float: left;
					width: 48.5%;
					margin-right: 3%;
				}
				.last_name {
					float: left;
					width: 48.5%;
				}
			}

			.relationship {
				.relationship_input {
					float: left;
					width: 80%;
					margin-right: 3%;
				}
				.group_input {
					float: left;
					width: 17%;
				}
			}
		}

	}

	// body of modal
	.modal_body {
		padding-top: 0;
		.body {
				
			.street {

			}

			.address_other {

				.city {
					float: left;
					width: 30%;
					margin-right: 3%;
				}
				.state {
					float: left;
					width: 12.5%;
					margin-right: 3%;
				}
				.zip {
					float: left;
					width: 12.5%;
					margin-right: 3%;
				}
				.country {
					float: right;
					width: 35%;
				}
			}

			.events {
				.remove-occasion {
					float: left;
					color: red;
					cursor: pointer;
					margin: 8px 1% 8px 0;
					width: 5%;
					text-align: left;
				}
				.occasion {
					float: left;
					width: 53%;
					margin-right: 3%;
				}
				.month {
					float: left;
					width: 22.5%;
					margin-right: 3%;
				}
				.day {
					float: left;
					width: 15%;
					margin-right: 3%;
				}
				.year {
					width: 20%;
					float: right;
				}
				.date {
					float: right;
					width: 35%;
					input {
						text-align: center;
					}
					.date_input {
						width: 80%;
						float: left;
					}
					.date_button {
						float: left;
						width: 20%;
						height: 3em;
						line-height: 3em;
						span.date_span {
							display: inline;
							button {
								height: 95%;
								border-radius: 10px;	
							}	
						}
					}
				}
			}

			.add_new_event {
				margin-top: 10px;

				span.add-occasion {
					color: red;
					cursor: pointer;
					.add-occasion-glyph {
						width: 4%;
						margin-left: 2px;
					}
				}
			}
		}
	}

	// footer of modal
	.modal-footer {
		border-top: none;
		text-align: center;
		.cancel-btn {

		}
		.save-btn {

		}
	}

	// "globals" for this modal form
	.modal_title {
		text-transform: uppercase;
		font-size: 1.7em;
		color: $medium_dark_grey;
		display: inline-block;
		text-align: left;
		width: 49%;
	}
	.last_updated {
		text-transform: uppercase;
		color: $medium_dark_grey;
		display: inline-block;
		width: 50%;
		text-align: right;
	}

	hr {
		margin: 0;
		border-top: 4px solid $ben_light_grey;
	}

	.body {
		padding: 0 30px 15px 30px;
	}

	.row {
		position: relative;
	}

	.form_field {
		width: 100%;
		margin: 10px 0;
		float: left;
	}

	.form_input {
		input, select {
			width: 100%;
			padding-left: 1em;
			border-radius: 7px;
			border: 2pt solid $ben_light_grey;
			height: 3em;
			background-color: white;
		}
	}

	.family {
		background-color: $golden_yellow;
		background-color: $dark_grey;
	}

}

.center_modal {
	top: 15% !important;
}

/**
 * 		MAIN DIV (card queueing service)
 */
.card_orders {
	min-height: 600px;
	padding-top: 1px;
	.card_order {
		.row, .section {
			height: 100%;
		}
		&.compressed {
			background-color: lightgray;
			margin: 10px 0;
		}
		&.expanded {
			// single step in the queue card form process
			form {
				// div with the NL questions
				.questions {
					@include adjust-font-size-to(1.5em);
				}
				// div with back/next buttons
				.next_step {
					height: 20%;
				}
			}

		}
		.text-center {
			
		}
		
	}
}

/**
 * 		NATURAL LANGUAGE FORMATTING
 */
.nl-field {
	position: relative;
	display: inline-block;
	.nl-field-toggle {
		position: relative;
		display: inline-block;
		text-decoration: none;
		cursor: pointer;
	}
	&.nl-field-open {
		z-index: 10000;
	}
	// text inputs
	&.nl-ti-text {
		ul {
			min-width: 8em;
			li {
				&.nl-ti-input {
					input {
						width: 100%;
	       	 	padding: 0.2em 2em 0.2em 0.5em;
		        border-bottom: none;
			    	line-height: 1.5em;
			    	height: 1.5em;
					}
				}
				&.nl-ti-example {
					font-size: 40%;
	        font-style: italic;
	        font-weight: 400;
	        padding: 0.4em 1em;
	        color: rgba(0,0,0,0.2);
	        border-top: 1px dashed rgba(255,255,255,0.7);
	        em {
	        	color: black;
	        }
				}
			}
		}
	}

	// the list of choices in nl-select
	ul {
		padding: 0;
		margin: 0;
		text-align: left;
		list-style: none;
		position: absolute;
		visibility: hidden;
		left: 0;
		top: 505;
		opacity: 0;

		&.slideUpwards {
			@include transform(translateY(-110%) scale(1.0));
		}
		&.slideDownwards {
			//@include transform(translateY(100%) scale(1.0));
			@include transform(translateY(0%) scale(1.0));
		}
	  
  	li {
  		cursor: pointer;
	    white-space: nowrap;
	    @include nl_input_font;
	    margin-top: 10px;
	    &.checked {
	      color: rgba(255,255,255,0.5);
	    }
	    &:hover {
	      background: rgba(0,0,0,0.5);
	    }
	    &.nl-dd-checked {
	    	color: #478982;
	    }
  	}
	}
}

// when a nl field gets selected
.nl-overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  @include whole_screen;
}

.nl-field.nl-field-open ul,
.nl-field.nl-field-open ~ .nl-overlay {
  visibility: visible;
  opacity: 1;
  @include transition(visibility 0s 0s, opacity 0.3s, transform 0.3s);
}

.nl-field.nl-field-open ~ .nl-overlay {
	z-index: 9999;
}

// the multistep form that registers your card order!
#queue-card-form {
	height: 100%;
	width: 100%;
	margin: auto;
	overflow: hidden;
	position: relative;

	// div containing NL form questions
	div.questions {
		position: relative;
		height: 825px;
		line-height: 1em;
		width: 100%;
		text-align: center;
		background-color: salmon;
		.nl-field {
			a {
				@include nl_input_font;
				border-bottom: 1px dashed;
			}
		}
	}

	// div containing next step, prev step
	div.next_step {
		margin-top: 0;
		@include clearfix;
		text-align: center;
	}

	// card images
	img.pick_card {
		height: 100px;
	}

}

// the actual NL questions
#card_form_questions {

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin-top: 350px;
	color: white;

	input {
		color: black;
	}

	&.ng-enter {
		@include animation(slideInRight 0.5s both ease);
	}

	&.ng-leave {
		@include animation(slideOutLeft 0.5s both ease);
	}

	// handle the div that "finds the card"
	.find_card_step {
		.card-spinner {
			@include center_absolute;
			top: 100px;
		}
		.find_card {
			@include center_absolute;
			.pick_card { // each card choice
				display: inline;
				margin: 0 5px;

				label > input { // hide radio button
					visibility: hidden;
					position: absolute;
				}
				label > input + img { // image style
					cursor: pointer;
					border: 2px solid transparent;
				}
				label > input:checked + img { // (RADIO CHECKED) image style
					border: 4px solid green;
				}
			}
			&.ng-hide-add { // when hiding the pic
				@include animation(fadeOut 0.4s both ease-out);
			}
			&.ng-hide-remove { // when showing the pic
				@include animation(fadeIn 0.35s 0.65s both ease-in);
			}
		}
	}
}

// progress bullets!!
.card_progress_bullets {
	cursor: default;
	max-width: 280px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	.bullet {
		font-size: 2.5rem;
		line-height: 0.5;
		color: lightgrey;
		&.active {
				color: black;
		}
	}
}

/* The starting CSS styles for the enter animation */
.fade.ng-hide-add { // when hiding the pic
	@include animation(fadeOut 0.4s both ease-out);
}
.fade.ng-hide-remove { // when showing the pic
	@include animation(fadeIn 0.35s 0.65s both ease-in);
}