@import "base";

// for iphone portrait views!
@media only screen and (max-device-width: 2600px) {

	
	// angular app POST-LOGIN
	.container.main_page .cardagain {

		// MY PEOPLE
		.my_people_container, .occasions_container {

			.queue_wizard_container {
				z-index:99999;
				padding: 0;
				/**
				 * 	general settings
				 */
				.row {
					margin: 0;
				}

				.inner_container {
					display: inline-block;
				}

				.title_row {
					margin-top: 20px;
				}

				/**
				 * 	specific containers
				 */
				.title_container {
					width: 100%;
					text-align: center;
					.title {
						margin: 0;
						font-size: 18px;
						line-height: 28px;
						font-weight: 400 !important;
					}
				}
				.back_container {
					position: absolute;
					left: 20px;
					width: 32px;
					height: 32px;
					border: 1px solid $no_button_grey;
					border-radius: 4px;
					color: $no_button_grey;
					padding: 5px;
					padding-left: 9px;
				}

				/**
				 * 	the cards in queue wizard section
				 */
				.occasions_container, .colors_container {
					margin-top: 20px;
					padding-left: 25px;
					padding-right: 25px;
					.occasion_container, .color_container {
						display: table;
						padding: 8px;
						.title_container {
							color: $no_button_grey;
							font-size: 14px;
							line-height: 23px;
							font-weight: 400;
						}	

						.occasion_card {
							height: 100px;
							border: 2px solid $no_button_grey;
							border-radius: 12px;
							display: table-cell;
							vertical-align: middle;
						}
					}
				}

				.colors_container {
					.color_container {
						.color_card {
							height: 100px;
							display: table-cell;
							border-radius: 12px;
							background-color: red;
						}
					}
				}
			}

		}
	}

}
