@import "base";

// for iphone portrait views!
@media only screen and (max-device-width: 600px) {

	// angular app POST-LOGIN
	.cardagain {

		// better scroll for mobile
		overflow: inherit;
		-webkit-overflow-scrolling: touch;

		// OVERALL APP STUFF
		.logged_in_home {
			margin-left: 0;

		}

		// left bar
		.left_bar {
			display: none;
		}

		// header
		.header_bar {
			padding-left: 0;
		}

		// footer
		.main_footer {
			display: table;
			position: fixed;
			bottom: 0;
			height: $mobile_box_size;
			width: 100%;
	    z-index: 1005;
	    background-color: $medium_grey;

	    .icon_holder {

	      width: 100%;
	      display: table-row;

	      .tab_button {
	        display: table-cell;
	        width: 25%;
	        vertical-align: middle;
	        text-align: center;

	        &:hover {
	          color: white;
	          background-color: $link_click_purple;
	          cursor: pointer;
	        }

	        // main cardagain logo
	        &.logo {
	        	background-color: black;
	        	border-bottom: none;
	        	.title {
	        		margin: 0;
	        		color: white;
	        	}
	        }

	        // the text inside each tab button
	        .state_link {
			      &.side_link {
			        color: black;
			      }
			      &:hover {
			        text-decoration: none;
			      }
			      &:active {
			        text-decoration: none;
			      }
			      &:focus {
			        text-decoration: none;
			      }
			    }

	      }

	    }
		}

		// MY PEOPLE
		.my_people {
			&.page_container {
				width: 100%;
				min-width: 0;
				.my_people_filter {
					.filter_people {
						width: 100%;
						margin-left: 0;
					}
					.options {
						margin-top: 25px;
					}
				}
				.single_card_div {
					width: 100%;
					&.add_recipient {
						margin-bottom: 100px;
					}
				}
			}
		}

		// MY QUEUED CARDS
		.my_cards_container {
			.queued_cards_view {
				min-width: 0;	
			}
		}


	}
	
}
