@import "base";

// for iphone portrait views!
@media only screen and (max-device-width: 2600px) {
	.right_header_container {
		float: right;
		margin-top: 18px;
		margin-right: 20px;
	}

	$title_font_height: 16px;
	$title_container_height: 50px;

	$settings_font_size: 15px;
	$info_font_line_height: 40px;

	$checkbox_width: 20px;
	$checkbox_height: 20px;

	.settings_font {
		font-size: 14px;
		line-height: $title_font_height;
		color: $settings_baby_blue;
		float: left;
		margin: 0;
		letter-spacing: 0.05px;
		&.link {
			cursor: default;
			&:hover {
				color: $settings_baby_blue;
				text-decoration: none;
			}
		}
	}

	.edit_settings {
		float: right;
		font-size: 14px;
		color: $settings_baby_blue;
	}

	.container.main_page .cardagain {

		.settings_container {
			margin: 0;
		}
		.settings {

			.personal_info-container {
				float: left;
				width: 100%;
			}
			.payment_info_container {
				float: left;
				width: 100%;
			}
			.notification_preferences_container {
				float: left;
				width: 100%;
			}

			overflow-x: hidden;
			padding: 0 0 $footer_height 0;

			// the title barfor each section
			.title_container {
				height: $title_container_height;
				margin-top: 20px;
				padding-top: ($title_container_height - $title_font_height) / 2;
				padding-left: 35px;
				padding-right: 35px;
				background-color: $settings_container_white_grey;
				border-top: 1px solid $no_button_grey;
				border-bottom: 1px solid $no_button_grey;
				float: left;
				width: 100%;
			}

			// the body for each section
			.body_container {
				padding-left: 35px;
				float: left;
				width: 100%;
				margin-top: 20px;

				.single_row {
					float: left;
					width: 100%;
				}

				// name, email, password, etc.
				.category_container {
					padding: 0;
					width: 20%;
					float: left;
					.category_font {
						margin:0;
						color: $settings_category_grey;
						font-size: $settings_font_size;
						line-height: $info_font_line_height;
					}
				}

				// actual name, email, etc.
				.info_container {
					padding: 0;
					float: left;
					margin-left: 10%;
					width: 70%;
					overflow-x: scroll;
					.info_font {
						margin:0;
						color: $settings_info_dark_grey;
						font-size: $settings_font_size;
						line-height: $info_font_line_height;
					}
					.address_detail {
						line-height: $info_font_line_height / 2;
					}
				}
			}
		}

		.recipient_form_view {
			.modal-header {
				&.settings_modal_header {
					height: 70px;	
				}
				.recipient_info {
					.title_container {
						margin-top: 23px;
						.back_button {
							position: absolute;
							left: 20px;
							color: white;
							top: 20px;
							border: 1pt solid white;
							height: 28px;
							width: 32px;
							padding-top:5px;
							border-radius: 5px;
						}
					}
				}
			}
			.modal-body {
				&.settings_modal_body {
					padding-bottom: 20px;
					&.addresses_modal_body {
						padding-bottom: 0;
					}	
				}
				
				.body {

					// title of each input
					.title_container {
						&.address_title_container {
							margin-top: 15px;
							margin-bottom: 5px;
						}
						.form_input_title {
							text-align: center;
							margin: 0;
							font-size: 18px;
							line-height: 20px;
							color: $settings_category_grey;
						}
					}
					// the actual input
					.form_input_container {
						float: left;
						width: 100%;
						&.is_primary_container {
							margin-bottom: 0;
						}
						&.primary_street_container {
							margin-top: 10px;
						}
						.form_input {
							.checkbox_input {
								float: left;
								width: $checkbox_width;
								height: $checkbox_height;
								margin-right: 5px;
								margin-top: 0;
							}
						}
						.name_container {
							.form_input {
								width: 48%;
							}
							.first_name {
								float: left;
							}
							.last_name {
								float: right;
							}
						}

						.field {
							&.card_number {
								width: 70%;
								float: left;
							}
							&.csv {
								float: right;
								width: 26%;
							}
							.cvc-tooltip {
								position: absolute;
								top: 11px;
								left: 96%;
							}

							&.card_name {
								float: left;
								width: 50%;
							}
							&.card_month {
								float: left;
								width: 19%;
								margin-left: 3%;
								.form_input {
									position: relative;
									.state_menu_down {
										position: absolute;
										top: 12px;
										left: 74%;
									}
								}
							}
							&.card_year {
								float: right;
								width: 25%;
								.form_input {
									.state_menu_down {
										position: absolute;
										top: 12px;
										left: 96%;
									}
								}
							}
						}
					}
					.birthday_container {
							float: left;
							width: 100%;
							.month_container {
								float: left;
								width: 51%;
								.month_menu_down {
									position: absolute;
									left: 86%;
									top: 12px;
									color: $form_placeholder_grey;
									z-index: -1;
								}
							}
							.day_container {
								float: left;
								width: 18%;
								margin-left: 3%;
							}
							.year_container {
								float: right;
								width: 26%;
							}
					}
				}
			}
			.form_input_label {
				font-size: 14px;
				line-height: 16px;
				color: $no_button_grey;
				font-weight: 300;
				margin: 0;
				padding-top: 1px;
			}
		}
	}
}