@import "base";

// for iphone portrait views!
@media only screen and (max-device-width: 2600px) {

	$form_width: 400px;

	#website_header {
		display: none;
	}

	#mobile_header {
		display: block;
	}

	.basic_icon {
		background: url(/assets/icons/basic_icons/all_basic_icons.png) no-repeat;
	}

	// angular app POST-LOGIN
	.container.main_page .cardagain {

		// better scroll for mobile
		overflow: inherit;
		-webkit-overflow-scrolling: touch;

		// OVERALL APP STUFF
		.logged_in_home {
			margin: 0;
			padding: 0;
		}

		// left bar
		.left_bar {
			display: none;
		}

		// header
		.header_bar {
			z-index: 99999;
			height: $mobile_header_size * 2; // will contain both "top" header and "bottom" header
			position: fixed;
			top: 0;
			left: -1px;
			width: 101%;
			padding-left: 0;
			margin-left: 0;
			margin-right: 0;
			border-radius: 0;
			.main_header {
				.header_container {
					height: 100%;
					width: 100%;
					// the top half of header
					.top_header_container {
						$top_header_height: $mobile_header_size + 2px;
						background-color: $mobile_dark_purple;
						height: $top_header_height;
						float: left;
						width: 100%;
						// title container to left of each page
						.title_container {
							padding-left: 20px;
							float: left;
							margin-top: $top_header_height / 4;
							.title {
								color: white;
								margin-left: 0;
							}
						}

						// the options at right of header
						.options_container {
							height: 100%;
							float: right;
							margin-right: 7px;
							$header_icon_width: 35px;
							$header_icon_height: 35px;
							.header_option {

								text-align: center;
								display: inline-block;
								height: 100%;
								padding: ($mobile_header_size - $header_icon_height) / 2 10px;

								&.search_person {
								}

								.header_icon {
									height: $header_icon_height;
									width: $header_icon_width;
									display: inline-block;
								}

								.add_person_image {
									background-position: -4px -3px;
								}

								.delete_person_image {
									background-position: -41px -3px;
								}

								.search_person_image {
									background-position: -78px -3px;
								}

								&.selected {
									
									.add_person_image {
										background-position: -4px -83px;
									}

									.delete_person_image {
										background-position: -41px -83px;
									}

									.search_person_image {
										background-position: -78px -83px;
									}
								}

								&.add_person {
									&.selected {
										background-color: $mobile_purple;
									}
								}

							}
						}
					}

					// the bottom heaer that pops up on specific "options" clicks
					.bottom_header_container {
						height: $mobile_header_size;
						float: left;
						width: 100%;
					}
					

					.mobile_header_container {

						// defaulting to hiding these at first
						.custom_header {
							display: none;
						}

						// but if they have the class, then it will be displayed
						.my_people {
							display: table-cell;
						}
						.occasions {
							display: table-cell;
						}
						.queue_card {
							display: table-cell;
						}
						.queued_cards {
							display: table-cell;
						}
						.settings {
							display: table-cell;
						}
					}
				}
			}
		}

		// footer
		.main_footer {
			display: table;
			position: fixed;
			bottom: 0;
			height: $mobile_box_size;
			width: 100%;
	    z-index: 1005;
	    background-color: $medium_grey;

	    .new_recipient_footer {
	    	height: 100%;
	    }

	    .icon_holder {

	      width: 100%;
	      display: table-row;

	      $tab_icon_width: 45px;
	      $tab_icon_height:  45px;

	      .tab_button {
	        display: table-cell;
	        width: 20%;
	        vertical-align: middle;
	        text-align: center;

	        &.queue_card {
	        	background-color: $login_red;
	        }

	        .footer_icon {
	        	width: $tab_icon_width;
	        	height: $tab_icon_height;
	        	display: inline-block;
	        }

	        $my_people_x: -124px;
	        $occasions_x: -170px;
	        $queue_card_x: -216px;
	        $queued_cards_x: -266px;
	        $settings_x: -312px;

	        $non_active_y: 0px;
	        $active_y: -98px;

	        .my_people_image {
	        	background-position: $my_people_x $non_active_y;
	        }

	        .occasions_image {
	        	background-position: $occasions_x $non_active_y;
	        }

	        .queue_card_image {
	        	width: 50px;
	        	background-position: $queue_card_x $non_active_y;
	        }

	        .queued_cards_image {
	        	background-position: $queued_cards_x $non_active_y;
	        }

	        .settings_image {
	        	background-position: $settings_x $non_active_y;
	        }

	        // currently on that tab
	        &.active {
	        	&.queue_card {
	        		background-color: $login_red;
	        	}
	        	background-color: $beige;
	        	.my_people_image {
	          	background-position: $my_people_x $active_y;
	          }
	          .occasions_image {
	          	background-position: $occasions_x $active_y;
	          }
	          .queue_card_image {
	          	background-position: $queue_card_x -50px;
	          }
	          .queued_cards_image {
	          	background-position: $queued_cards_x $active_y;
	          }
	          .settings_image {
	          	background-position: $settings_x $active_y;
	          }
	        }

	        // the text inside each tab button
	        .state_link {
			      &.side_link {
			        color: black;
			      }
			      &:hover {
			        text-decoration: none;
			      }
			      &:active {
			        text-decoration: none;
			      }
			      &:focus {
			        text-decoration: none;
			      }
			    }

	      }

	    }
		}

		// MY PEOPLE
		.my_people_container {

			// full-page recipient form to be used on mobile!
		  .recipient_form_container {
		  	position: absolute;
		  	margin-top: $mobile_header_size - 3px;
		  	padding: 0;

		  	.recipient_form_view {
		  		padding: 0;
		  		margin: 0;

		  		$recipient_info_height: 275px;
		  		$picture_container_width: 120px;
		  		$picture_size: 121px;
		  		$name_input_width: 200px;

		  		/**
		  		 * 		DIV CONTAINING PROFILE PICTURE AND FIRST/LAST NAME OPTIONS
		  		 */
		  		.modal-header {
		  			// min-height: $recipient_info_height;
		  			&.basic_info {
		  				background-color: $mobile_purple;	
		  				padding: 0;
		  				&.cropImage {
		  					min-height: 100%;
		  				}
		  			}

		  			.recipient_info {
							position: relative;
							height: 100%;
							display: block;
							//width: $form_width;
							margin: 0 auto;


							.title_container {
								margin-top: 20px;
								.recipient_form_title {
									color: $white_grey;
									text-align: center;
									font-size: 20px;
									line-height: 23px;
									margin: 0;
									font-weight: 400 !important;
								}
							}

							// recipient picture
							.profile_picture_container {
								width: 100%;
								display: block;
								text-align: center;
								margin-top: 22px;
								.camera_icon {
									background: url(/assets/icons/basic_icons/all_basic_icons.png) -191px -148px;
									width: 40px;
									height: 34px;
									position: absolute;
									left: 40px;
									top: 42px;
									z-index: 99999999;
								}
								.profile_picture {
									display: inline-block;
									height: $picture_size; 
									width: $picture_size; 
									overflow:hidden;
									cursor: pointer;
									-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); // overflow hidden for chrome
									border-radius: 50%;
									position: relative;
									background-color: $picture_grey;
									border: 1px solid white; 
									.image {
										position: absolute;
										right: 0;
										bottom: 0;
										height: $picture_size;
									}
								}
								.picture_upload {
									margin: 0 auto;
								}
							}

							.name_container {

								text-align: center;
								margin: 22px 0;
								padding: 0 20px;
								float: left;
								width: 100%;

								.form_input {
									display: inline-block;
									//width: $name_input_width;
									&.first_name {
										float: left;
									}
									&.last_name {
										float: right;
									}
									width: -moz-calc(50% - 10px);
								  width: -webkit-calc(50% - 10px);
								  width: calc(50% - 10px);
									.name_input {
										padding: 0;
										text-align: center;
										border-radius: 0;
										border: none;
										border-bottom: 1px solid $white_grey;
										background-color: transparent;
										color: $white_grey;
										height: 1.5em;
										font-size: 30px;
										&:focus {
											outline: 0;
										}

										// for placeholder font color
										&::-webkit-input-placeholder {
										   color: $white_grey;
										}

										&:-moz-placeholder { /* Firefox 18- */
										   color: $white_grey;  
										}

										&::-moz-placeholder {  /* Firefox 19+ */
										   color: $white_grey;  
										}

										&:-ms-input-placeholder {  
										   color: $white_grey;  
										}
									}
								}
							}

							.potential_crop_area {
								margin: 22px 0 0 0;
								float: none;
							}
							.button_container {
								margin-top: 15px;
								margin-bottom: 20px;
								.cancel_button {
									margin-right: 15px;
								}
								.recipient_form_button {
									border-radius: 2px;
								}
							}

						}
		  		}

		  		/**
		  		 * 	DIV CONTAINING ADDRESS AND OCCASIONS OPTIONS
		  		 */
		  		.modal-body {
		  			overflow-x: hidden;
		  			overflow-y: scroll;
		  			padding: 0;

		  			.body {
		  				padding: 0 20px;
		  				//width: $form_width;
		  				margin: 0 auto;

		  				// address_other form input widths
							$city_input_width: 46%;
							$state_input_width: 23%;
							$zipcode_input_width: 24%;

							// for more general inputs on the modal-body
							.form_input_container {
								margin: 20px 0;
								position: relative;


								&.address_other {
									margin-bottom: 0;
								}

								.field {
									display: inline-block;
									&.city {
										width: $city_input_width;
										margin-right: 2.5%;
									}
									&.state {
										width: $state_input_width;
										margin-right: 2.5%;
										.form_input {
											position: relative;
										}
										.state_menu_down {
											position: absolute;
											right: 10px;
											top: 14px;
											z-index: -1;
											color: $form_placeholder_grey;
										}
									}
									&.zipcode {
										width: $zipcode_input_width;
										float: right;
									}
								}
							}

							.form_input {
								display: inline-block;
								width: 100%;
								margin: 0;

								.street_input {
									//width: 100%;
								}

								.recipient_form_input {
									width: 100%;
									padding: 0;
									text-align: left;
									border-radius: 0;
									border: none;
									border-bottom: 1px solid $form_placeholder_grey;
									background-color: transparent;
									color: $form_input_black;
									font-size: 24px;
									line-height: 28px;
									height: 1.8em;
									padding-left: 10px;
									&:focus {
										outline: 0;
									}

									&.select_input {
										-webkit-appearance: none;
  									-webkit-border-radius: 0px;
									}

									// for placeholder font color
									&::-webkit-input-placeholder {
									   color: $no_button_grey;
									}

									&:-moz-placeholder { /* Firefox 18- */
									   color: $no_button_grey;  
									}

									&::-moz-placeholder {  /* Firefox 19+ */
									   color: $no_button_grey;  
									}

									&:-ms-input-placeholder {  
									   color: $no_button_grey;  
									}
								}
							}

		  				/**
		  				 * 	TITLE CONTAINER OF FORM BODY
		  				 */
		  				.title_container {
								margin-top: 13px;
								.recipient_form_title {
									color: $form_black;
									text-align: center;
									font-size: 20px;
									line-height: 23px;
									margin: 0;
									font-weight: 400 !important;
								}
							}

							/**
							 * 	ADDRESS CONTAINER OF FORM BODY
							 */
							.new_addresses_container, .existing_addresses_container {
								margin: 0;
							}
							 /* 
							 *	OCCASIONS CONTAINER OF FORM BODY
							 */
							.address_options_container {
								margin: 10px 0 0 0;
								.field {
									&.new_address {
										float: left;
									}
									&.delete_address {
										float: right;
									}
									.form_button {
										color: $login_red;
										font-size: 12px;
										line-height: 14px;
										font-weight: 300;
										cursor: pointer;
										&.add_address {
										}
										&.delete_address {
										}
									}
								}
							}

							.new_occasions_container, .existing_occasions_container {
								.state_menu_down {
									position: absolute;
									top: 14px;
									right: 10px;
									z-index: -1;
									color: $form_placeholder_grey;
								}
								.occasion_name_container {
								}
								.occasion_date_container {
									float: left;
									width: 100%;
									.form_input_container {
										width: -moz-calc(50% - 10px);
									  width: -webkit-calc(50% - 10px);
									  width: calc(50% - 10px);
									  margin-bottom: 0;
									}
									.month {
										float: left;
									}
									.day {
										float: right;
									}
								}
								.occasion_notes_container {
									float: left;
									width: 100%;
									margin-top: 20px;
									.notes {

									}
								}
							}

		  			}
		  		}

		  		/**
		  		 * 	DIV CONTAINING THE CROP IMAGE FOOTER
		  		 */
		  		.cropImageFooter {
		  			position:fixed;
		  			bottom: 0;
		  			z-index: 99999;
		  			background-color: $medium_grey;
		  			padding: 0px 0px 19px 0px;
		  		}
		  	}
		  }

			// my people filters underneath the header
			.header_dropdown_tool {
				 width: 100%;
				 height: $mobile_header_size;
				 background-color: $white_grey;
				 box-shadow: 0px 2px 6px 0px $normal_grey;
				 z-index: 999999;
				 float: left;
			}
			.delete_people_container {
				display: table;
				.delete_recipients {
					display: table-cell;
					vertical-align: middle;
					text-align: left;
					width: 60%;
					padding-left: 20px;
					padding-right: 10px;
					font-weight: 400;
				}
				.delete_options {
					display: table-cell;
					vertical-align: middle;
					text-align: right;
					padding-right: 20px;
					width: 40%;
					.button {
						width: 65px;
						height: 32px;
						border-radius: 100px;
						font-size: 16px;
						line-height: 19px;
						&.yes_button {
							background-color: $yes_button_red;
							color: white;
						}
						&.no_button {
							border: 1px solid $no_button_grey;
							color: $no_button_grey;
							background-color: transparent;
							margin-right: 10px;
						}
						&:focus {
							outline: 0;
						}
						&:active {
							box-shadow: none;
						}
					}
				}
			}

			.header_span {
				font-weight: 400;
				font-size: 14px;
			}

			.filter_people_container {

		    text-align: center;
		    
		    .form_input {
		    	position: relative;
		    	width: 95%;
		    	display: inline-block;
		    	margin-top: 8px;
		    	.filter_people_input {
			      border-radius: 0;
			      height: 34px;
			      text-indent: 15px;
			      border: 1.5pt solid $medium_dark_grey;

			      &:focus {
			        outline: 0;
			      }
			    }
		    }
		  }

		  .page_container {
		  	margin-top: $mobile_header_size;
		  	position: relative;
		  	overflow-x: hidden;
		  	overflow-y: scroll;
		  	width: 100%;
		  }

		  // actual body of my people
			.my_people {
				&.page_container {
					
					.my_people_filter {
						.filter_people {
							width: 100%;
							margin-left: 0;
						}
						.options {
							margin-top: 25px;
						}
					}
					.single_card_div {
						width: 100%;
						&.add_recipient {
							//margin-bottom: 200px;
						}
					}
				}
			}

			// when the header is active and one of the options are selected
			&.headerActive {
				.my_people.page_container {
					margin-top: $mobile_header_size * 2;
				}
			}
		}


		// MY QUEUED CARDS
		.my_cards_container {
			padding-top: $mobile_header_size;
			.queued_cards_view {
				min-width: 0;	
			}
		}

		// SETTINGS
		.settings_container {
			margin-top: $mobile_header_size;
		}


	}

	// log in before main cardagain app
	.login_page {
		.login_container {
			position: relative;
			left: 0;
			top: 0;
			max-width: 400px;
			margin: 0 auto;
			margin-top: 40px;
		}
	}
}

.footer_space {
	height:80px;
	float: left;
}

// to handle mobile browser nonsense
.fixfixed .header_bar, 
.fixfixed .filter_people_container { 
    position: absolute !important;
}

.fixfixed .main_footer {
	display: none !important;
	position: absolute !important;
}