@import "base";

// for iphone portrait views!
@media only screen and (max-device-width: 2600px) {

	#website_header {
		display: none;
	}

	#mobile_header {
		display: block !important;
	}

	// angular app POST-LOGIN
	.container.main_page .cardagain {

		// better scroll for mobile
		overflow: inherit;
		-webkit-overflow-scrolling: touch;

		// OVERALL APP STUFF
		.logged_in_home {
			margin-left: 0;

		}

		// left bar
		.left_bar {
			display: none;
		}

		// header
		.header_bar {
			height: $mobile_header_size;
			padding-left: 0;
			background-color: $header_grey;
			.main_header {
				.header_container {
					height: $mobile_header_size;

					// title container to left of each page
					.title_container {
						padding-left: 10px;
						.title {
							color: white;
						}
					}

					.mobile_header_container {

						// defaulting to hiding these at first
						.custom_header {
							display: none;
						}

						// but if they have the class, then it will be displayed
						.my_people {
							display: table-cell;
						}
						.occasions {
							display: table-cell;
						}
						.queue_card {
							display: table-cell;
						}
						.queued_cards {
							display: table-cell;
						}
						.settings {
							display: table-cell;
						}
					}
				}
			}
		}

		// footer
		.main_footer {
			display: table;
			position: fixed;
			bottom: 0;
			height: $mobile_box_size;
			width: 100%;
	    z-index: 1005;
	    background-color: $medium_grey;

	    .icon_holder {

	      width: 100%;
	      display: table-row;

	      .tab_button {
	        display: table-cell;
	        width: 20%;
	        vertical-align: middle;
	        text-align: center;

	        &.queue_card {
	        	background-color: $login_red;
	        }

	        .my_people_image {
	        	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) -68px 0px;
	        	width: 71px;
	        	height: 58px;
	        }

	        .occasions_image {
	        	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) -68px -61px;
	        	width: 71px;
	        	height: 58px;
	        }

	        .queue_card_image {
	        	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) -68px -122px;
	        	width: 71px;
	        	height: 58px;
	        }

	        .queued_cards_image {
	        	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) -68px -175px;
	        	width: 71px;
	        	height: 58px;
	        }

	        .settings_image {
	        	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) -68px -233px;
	        	width: 71px;
	        	height: 58px;
	        }

	        // hovering over that tab
	        &:hover {
	          cursor: pointer;
	          .my_people_image {
	          	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) 96px 0px;
	          }
	          .occasions_image {
	          	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) 96px -61px;
	          }
	          .queue_card_image {
	          	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) 96px -122px;
	          }
	          .queued_cards_image {
	          	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) 96px -175px;
	          }
	          .settings_image {
	          	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) 96px -233px;
	          }
	        }

	        // currently on that tab
	        &.active {
	        	&.queue_card {
	        		background-color: $login_red;
	        	}
	        	background-color: $beige;
	        	.my_people_image {
	          	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) 96px 0px;
	          }
	          .occasions_image {
	          	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) 96px -61px;
	          }
	          .queue_card_image {
	          	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) 96px -122px;
	          }
	          .queued_cards_image {
	          	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) 96px -175px;
	          }
	          .settings_image {
	          	background: url(/assets/icons/basic_icons/all_icons_and_buttons.png) 96px -233px;
	          }
	        }

	        // the text inside each tab button
	        .state_link {
			      &.side_link {
			        color: black;
			      }
			      &:hover {
			        text-decoration: none;
			      }
			      &:active {
			        text-decoration: none;
			      }
			      &:focus {
			        text-decoration: none;
			      }
			    }

	      }

	    }
		}

		// MY PEOPLE
		.my_people {
			&.page_container {
				width: 100%;
				min-width: 0;
				.my_people_filter {
					.filter_people {
						width: 100%;
						margin-left: 0;
					}
					.options {
						margin-top: 25px;
					}
				}
				.single_card_div {
					width: 100%;
					&.add_recipient {
						margin-bottom: 100px;
					}
				}
			}
		}

		// MY QUEUED CARDS
		.my_cards_container {
			.queued_cards_view {
				min-width: 0;	
			}
		}


	}

	// log in before main cardagain app
	.login_page {
		.login_container {
			position: relative;
			left: 0;
			top: 0;
			max-width: 400px;
			margin: 0 auto;
			margin-top: 40px;
		}
	}
}
