@import "base";


.my_people_view {
	// card-based view of recipients!
	
	.single_card_div {

		padding: 0;
		margin: 15px 1.5%;
		&.col-xs-3 {
			width: 22%;	
		}
		&.col-xs-4 {

		}
		
		.recipient_card {
			height: 150px;
			background-color: white;
			box-shadow: $grey_box_shadow;
			text-align: center;

			.relationship_group {
				height: 40%;
				background-color: $pacific_blue;
				border-bottom: 2pt solid black;
			}
			.recipient_info {
				height: 60%;
				background-color: $medium_grey;
				.overlay_view, .recipient_options.overlay {
					width: 100%;
					height: 100%;
					display: none;
					position: absolute;
					top: 0px;
					left: 0px;
					// this is the overall recipient_options div
					div {
						position: relative;
						display: inline-block;
						top: 40%;
					}

					// the option buttons
					.option_buttons {
						top: 40%;
						button {
							color: white;
							border: 1.5pt solid white;
							width: 40px;
							height: 40px;
							border-radius: 50%;
							background-color: $medium_dark_grey;
							&:hover {
								background-color: $dark_grey;
							}
							&:focus {
								outline: 0;
								background-color: $dark_grey;	
							}
						}
					}

				}

				&:hover .overlay_view {
					display: block;
					background-color: black;
					opacity: 0.75;
				}
				&:hover .recipient_options.overlay {
					display: block;
				}

			}
		}
	}
}