@import "base";

$card_profile_picture_size: 90px;

.my_people.page_container {
	width: -moz-calc(100% - 100px);
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  min-width: 545px;
  position: absolute;
}

// for the filter bar at the top view
.my_people_view, .queued_cards_view {

	// search people functionality
	.filter_people {
    width: 35%;
    margin-left: 15px;
    .filter_people_input {
      border-radius: 20px;
      width: 100%;
      height: $box_size / 2.5;
      // background-size: 250px 250px;
      // background-position: 7px center;
      // background-repeat: no-repeat;
      text-indent: 20px;
      border: 1.5pt solid $medium_dark_grey;

      // -webkit-transition: all 0.25s;
      // -moz-transition: all 2s;
      // transition: all 0.25s;

      &.active {
        background-color: none;
        background-position: -40px center;
        text-indent: 4px;
        width: 55%;
      }

      &:focus {
        outline: 0;
      }
    }

    .search_icon {
    	position: absolute;
    	left: 27px;
    	top: 7px;
    	font-size: 1.1em;
    	color: $medium_dark_grey;
    }
  }
	
	// card-based view of recipients!
		
	$single_card_top_padding: 15px;
	.single_card_div {

		padding: $single_card_top_padding 1.5%;
		&.col-xs-3 {
			width: 22%;	
		}
		&.col-xs-4 {

		}

		.recipient_card {
			height: 187px;
			background-color: white;
			box-shadow: $grey_box_shadow;
			text-align: center;
			overflow-y: hidden;

			.icon_header {
				&.selected {
					position: absolute;
					padding: 1.5px;
					top: 12px;
					left: 8px;
					border-radius: 50%;
					height: 25px;
					width: 25px;
					background-color: adjust-lightness($selection_green, 5%);
					color: white;
				}
			}

			.recipient_info {
				position: relative;
				height: 100%;
				background-color: white;
				border-top: 5pt solid $pacific_blue; // this is what will be different based on relationship group

				&.selected {
					border: 2pt solid $selection_green;
					border-top: 5pt solid $selection_green;
				}

				.name {
					font-size: 1.3em;
				}

				// group of events
				.events {
					
					// each individual event
					.event {
						font-size: 0.75em;
						color: $dark_teal;
						font-style: italic;
					}
				}

				// recipient picture
				.profile_picture {
					height: $card_profile_picture_size; 
					width: $card_profile_picture_size; 
					overflow:hidden;
					-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); // overflow hidden for chrome
					margin: 0 auto;
					margin-top: 5px;

					border-radius: 50%;
					position: relative;
					background-color: $light_grey;
					border: 1pt solid $medium_dark_grey; 

					.image {
						position: absolute;
						right: 0;
						bottom: 0;
						height: $card_profile_picture_size;
					}
				}

				.overlay_view, .recipient_options.overlay {
					width: 100%;
					height: 100%;
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					// this is the overall recipient_options div
					div {
						position: relative;
						display: inline-block;
						top: 40%;
					}

					// the option buttons
					.option_buttons {
						top: 40%;
						width: 50px;
						margin: 0 5px;
						button {
							color: white;
							border: 1.5pt solid white;
							width: 45px;
							height: 45px;
							border-radius: 50%;
							&.edit-recipient {
								background-color: $medium_dark_grey;
								&:hover {
									background-color: $dark_grey;
								}
								&:focus {
									outline: 0;
									background-color: $dark_grey;	
								}	
							}
							&.select-recipient {
								background-color: adjust-lightness($selection_green, 5%);
								&:hover {
									background-color: adjust-lightness($selection_green, -5%);
								}
								&:focus {
									outline: 0;
									background-color:adjust-lightness($selection_green, -10%);
								}
							}
							&.send-recipient {
								background-color: adjust-lightness($cta_red, 5%);
								&:hover {
									background-color: adjust-lightness($cta_red, -5%);
								}
								&:focus {
									outline: 0;
									background-color: adjust-lightness($cta_red, -10%);
								}
							}
							
						}
						.text {
							color: white;
							margin-right: 5px;
						}
					}

				}

				.overlay_view {
					background-color: black;
					opacity: 0.75;
					&.display {
						display: block;
					}
				}
				.recipient_options.overlay {
					&.display {
						display: block;
					}
				}

				&:hover .overlay_view {
					display: block;
				}
				&:hover .recipient_options.overlay {
					display: block;
				}

			}
		}

		// custom for add recipient card
		&.add_recipient {
			.recipient_card {
				display: table;
				width: 100%;
				cursor: pointer;
				box-shadow: none;
				.recipient_info {
					.add_title {
						font-size: 1.4em;
						.glyphicon {
							margin-right: 10px;
						}
					}
					display: table-cell;
					vertical-align: middle;
					border: 1pt solid $inactive_grey;
					color: $inactive_grey;
					&:hover {
						border: 1.5pt solid $link_click_purple;
						color: $link_click_purple;	
					}
				}	
			}
		}
	}

	// for iphone views
	@media only screen and (max-device-width: 600px) {
		.single_card_div {
			width: 100%;
			height: 405px;
		}
		.recipient_card {
			@include transform(scale(2));
			width: 50%;
			margin: 0 auto;
		}
		.my_people_cards {
			margin-top: 100px;
		}
	}

	// filters & send card
	.options {
		$input_width: 100px;

		height: 50px;
		width: 335px;

		.form_input {
			display: inline-block;

			// filter recipients
			.filter_select {
				height: 35px;
				width: 160px;
				-webkit-appearance: none;
		    -moz-appearance: none;
		    text-indent: 10px;
		    border: 1pt solid $medium_dark_grey;
		    color: $medium_dark_grey;
		    background-color: transparent;
			}

	    // button to send card
			.send_card {
				display: block;
				width: $input_width;
				font-size: 1.2em;
				left: 10px;
				cursor: pointer;
				position: relative;
		    color: rgba(255,255,255,1);
		    text-decoration: none;
		    background-color: rgba(219,87,5,1);
		    font-weight: 700;
		    padding: 4px;
		    @include border-radius(2px);
		    @include box-shadow(1px 3px 1px $salmon_red, 0px 2px 5px rgba(0,0,0,.7));
				text-align: center;
					
				@include transition(all 0.1s ease);
				&:active {
					@include box-shadow(1px 1px 1px $salmon_red, 0px 1px 2px rgba(0,0,0,.9));
				    position: relative;
				    top: 2px;
				}
			}

			.delete_recipients_button {
				height: 35px;
				width: 35px;
				margin-right: -3px;
				margin-left: 5px;
				color: $dark_grey;
				background-color: $white_grey;
				border: 1pt solid $medium_dark_grey;

			}
	  }
	}
	
}

.delete_button_container {
	width: 35%;
	float: left;
	text-align: left;
	.delete_text_button {
		color: $cancel_grey;
		cursor: pointer;
		display: inline;
		margin-top: 5px;
	}
}

.action_button_container {

	width: 65%;
	float: right;

	// button to save recipient on modal form
	.recipient_button {
		display: inline-block;
		width: 48%;
		font-size: 1.2em;
		left: 10px;
		cursor: pointer;
		position: relative;
	  color: rgba(255,255,255,1);
	  text-decoration: none;
	  font-weight: 700;
	  padding: 4px;
	  border-style: none;
	  text-align: center;
	  @include border-radius(2px);
	  @include transition(all 0.1s ease);

	  &.cancel {
	  	margin-right: 2%;
	  	background-color: $cancel_grey;
			@include box-shadow(1px 2px 1px $cancel_grey_shade, 0px 2px 5px rgba(0,0,0,.7));
			&:active {
				@include box-shadow(1px 1px 1px $cancel_grey, 0px 1px 2px rgba(0,0,0,.9));
		    position: relative;
		    top: 2px;
			}
	  }

	  &.save {
	  	background-color: rgba(219,87,5,1);
	  	@include box-shadow(1px 3px 1px $salmon_red, 0px 2px 5px rgba(0,0,0,.7));
	  	&:active {
				@include box-shadow(1px 1px 1px $salmon_red, 0px 1px 2px rgba(0,0,0,.9));
		    position: relative;
		    top: 2px;
			}
	  }
	  &:focus {
			outline: 0;
		}
	}

}
