@import "base";

$queue_wizard_profile_picture_size: 100px;
$header_height: 10%;

// this is the overarching container div
.queue_card {

	width: 100%;
	position:absolute;
	height: 100%; 
	min-width: 800px;

	// the entire left-side column
	.recipients_container {
		background-color:white;
		border-right: 1pt solid black;
		position: relative;
		height: 100%;
		overflow: hidden;
		margin:0;
		padding:0;

		// the header of the recipients form
		.header.navigation {
			height: $header_height;
			background-color: $wizard_red;

			.recipients_header {
				height: 100%;
				@include display-flex; // inline-flex display for all browsers
				div {
					display: inline-block;
					text-align: center;
					color: white;

					&.main_display {
						width: 100%;
						margin: auto 0;
						padding-top: 4%;
						.title {
							font-size: 1.8em;
						}
						.progress_bullets {
							.bullet {
								font-size: 2.5rem;
								margin: 0 3px;
								a {
									color: $ben_light_grey;
									opacity: 0.45;
									&.active {
										color: white;
										opacity: 1;
									}
								}
							}
						}
					}
				}	
			}			
		}

		// left side bar after header
		.inner_container {

			@include display-flex; // inline-flex display for all browsers
			height: 100% - $header_height;
			width: 100%;
			overflow: auto;
			background-color: $wizard_grey;
			
			.centered_view {
				margin: auto 0px;
				width: 100%;

				.recipient { // reach recipient in my recipients view

					width: 100%;
					margin: 35px 0;

					.profile_picture_container {

						height:100%;
						width: 50%;
						margin: 0 auto;

						// recipient picture
						.profile_picture {
							height: $queue_wizard_profile_picture_size; 
							width: $queue_wizard_profile_picture_size; 
							overflow:hidden;
							-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); //overflow hidden for chrome
							background-color: $light_grey;
							border: 1pt solid $medium_dark_grey; 

							margin: 0 auto;
							margin-top: 5px;

							border-radius: 50%;
							position: relative;

							.image {
								position: absolute;
								bottom: 0;
								height: $queue_wizard_profile_picture_size;
							}
						}
					}

					.name_container {
						width: 50%;
						margin: 0 auto;
						text-align: center;

						.name {
							
							font-size:1.5em;
						}
					}

				}

			}

		}


	}

	// the entire right-side column
	.wizard_container {
		background-color:white;
		position: relative;
		padding: 0;
		height: 100%;

		// the header of the wizard form
		.header.navigation {
			height: $header_height;
			background-color: $wizard_purple;
			$navigation_width: 13%;

			.wizard_header {
				height: 100%;
				@include display-flex; // inline-flex display for all browsers
				div {
					display: inline-block;
					text-align: center;
					color: white;

					&.main_display {
						width: 100% - 2*$navigation_width;
						margin: auto 0;
						.title {
							font-size: 3em;
						}
						.progress_bullets {
							.bullet {
								font-size: 2.5rem;
								margin: 0 3px;
								a.active {
									color: $extra_dark_grey;
								}
							}
						}
					}
				}
				.navigation_container {
					width: $navigation_width;
					margin: auto 0;
					padding: 0 2em;
					height: 50%;

					.direction {
						width: 100%;
						height: 100%;
						.navigation_button {
							width: 100%;
							height: 100%;
							background-color: transparent;
							border: 1pt solid white;
							color: white;
							&:hover {
								background-color: adjust-lightness($dark_purple, -5%);
							}
							&:focus {
								outline: 0;
							}
						}
					}					
				}

			}

			// .navigation_button {
				
			// 	&.left_align {
			// 		left: 20px;
			// 	}
			// 	&.right_align {
			// 		right: 20px;
			// 	}
			// }
		}

		// the inner container -- aka the form itself
		.inner_container {

			height: 100% - $header_height;

			.wizard_form {

				width: 100%;
				height: 100%;
				position: relative;
				overflow-x: hidden;

				.form_container {

					&.flex {
						@include display-flex; // inline-flex display for all browsers
					}

					height: 100% - $header_height; // minus height of header
					width: 100%;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					padding-bottom: 5%;

					&.ng-enter {
						@include animation(slideInRight 0.5s both ease);
					}

					&.ng-leave {
						@include animation(slideOutLeft 0.5s both ease);
					}

					// for form pages that require centered view
					.centered_view {
						margin: auto 0px;
						width: 100%;
					}

					.date {
						display: inline;
						position: relative;
						.date_input {
							display: inline;
							input {
								padding-left: 2em;
								width: 28%;
							}
						}
						.date_span {
							position: absolute;
							left: 10px;
							top: -30px;
							button {
								background-color: transparent;
								border: none;
								font-size: 0.4em;
							}
						}
					}

					.question {
						text-align: center;
						span {
							font-size: 2em;
						}	

						/**
						 * 			NL FORM FOR WIZARD
						 */
						
						// nl form background
						.wizard_field {

							// variables
							$field_width: 250px;
							$field_padding: 5px 5px 5px 25px;
							$font_size: 2em;

							background-color: $white_grey;
							text-align: left;
							font-size: $font_size;
							padding: $field_padding;
							min-width: $field_width;

							// the text of the nl form
							a {
								color: black;
							}
							.wizard_down_icon {
								float: right;
								right: 15px;
								top: 5px;
								color: $dark_grey;
							}

							// the actual dropdown upon click
							ul {

								max-height: 400px;
								overflow-y: scroll;
								background-color: $white_grey;
								font-size: 0.85em; // current hack to balance the font-size view
								padding: $field_padding;
								min-width: $field_width;

								li {
									color: black;
								}
							}
						}
					}

					// this is for displaying the card flavor filters
					.flavor_filters_container {
						width: 97%;
						margin: auto;
						.flavor_filters {

							height: 50px;
							display: flex;
							margin-top: 20px;

							.options_container { // div containing the actual options
								margin: auto;
								display: table;
								width: 100%;
								height: 100%;
								border: 1pt solid darkgray;
								background-color: lightgrey;

								.flavors {
									width: 100%;
									padding: 10px 0;
									.option {
										margin: 0 40pt;
									}
								}

								.favorites {
									padding: 0;
									width: 5%;
									border-left: 1pt solid black;
									display: table-cell;
									.option { // span of option
										text-align: center;
									}
								}
							}
						}	
					}
					

					.cards_container {
						height: 100%;
						width: 97%;
						margin: 20px auto;

						// the left half of the box that will show the card preview
						.card_preview_container {
							height: 100%;
							.preview_box {
								height: 100%;
								border: 1pt solid black;
								.preview {

								}
							}
						}

						// the right half of the box that will show filtered choices and checkout
						.filtered_choices_container {
							height: 100%;
							.filtered_choices_box {
								height: 59%;
								margin-bottom: 3%;
								border: 1pt solid black;
							}
							.confirmation_box {
								height: 39%;
								border: 1pt solid black;
							}
						}

					}

				}
			}
		}	
	}
}
