<div class="row">
	<div class="filter_people pull-left">
		<div class="form_input">
			<input type="text" ng-model="filteredName" ng-change="recipientNameFilter(filteredName)" class="filter_people_input"><i class="glyphicon glyphicon-search search_icon"></i></input>
		</div>
	</div>
	<div class="options pull-right">
		<div class="form_input btn-group">
			<button class="filter_select dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'>{{recipientsFilter}}<i class="glyphicon glyphicon-menu-down"></i></button>
			<ul class="dropdown-menu">
				<li ng-repeat="filter in filterOptions" ng-click="updateFilterView(filter); $parent.open = !$parent.open">
					<a href="#">{{filter}}</a>
				</li>
			</ul>
		</div>

		<div class="form_input">
			<form>
				<input type="hidden" ng-model="selectedUsers"/>
				<a class="send_card" ng-click="multiple_queue()">Send Card</a>
			</form>
		</div>
	</div>
</div>

<div class="row">	
	<div class="col-xs-6 col-md-3 single_card_div"  ng-repeat="recipient in currentRecipients" ng-if="recipient.is_visible == 1">
		<div class="recipient_card">
			<div class="relationship_group">
				<div ng-if="isInArray(recipient.id, selectedRecipientIDs)" class="icon_header selected">
					<i class="glyphicon glyphicon-check"></i>
				</div>
			</div>
			<div class="recipient_info" ng-class="{'selected': isInArray(recipient.id, selectedRecipientIDs)}">
				<div class="profile_picture_container">
					<div class="profile_picture">
						<img class="image" ng-src="{{recipient.profile_picture}}" />
					</div>
				</div>
				<div class="name">
					{{recipient.first_name}} {{recipient.last_name}}
				</div>
				<!-- should go through recipient's "events" and provide appropriate divs -->
				<div class="events">
					<div class="event" ng-repeat="occasion in recipient.occasions">
						<span ng-if="occasion.occasion.name">{{occasion.occasion.name}} in {{daysFromToday(occasion.recipient_occasion.occasion_date)}} - {{occasion.recipient_occasion.occasion_date | date: "MMM. d"}}</span>
					</div>
				</div>

				<div class="overlay_view">
				</div>
				<div class="recipient_options overlay">
					<div class="option_buttons">
						<button class="btn select-recipient" ng-click="select(recipient)"><i class="glyphicon glyphicon-check"></i></button>
						<br>
						<span class="text">Select</span>
					</div>
					<div class="option_buttons">
						<button class="btn send-recipient" ng-click="single_queue(recipient)"><i class="glyphicon glyphicon-envelope"></i></button>
						<br>
						<span class="text">Send</span>
					</div>
					<div class="option_buttons">
						<button class="btn edit-recipient" ng-click="open_modal_form(recipient)"><i class="glyphicon glyphicon-pencil"></i></button>
						<br>
						<span class="text">Edit</span>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="col-xs-6 col-md-3 single_card_div add_recipient">
		<div class="recipient_card" ng-click="open_modal_form(newRecipient)">
			<div class="recipient_info" ng-class="{'selected': isInArray(recipient.id, selectedRecipientIDs)}">
				<span class="add_title"><i class="glyphicon glyphicon-plus"></i>ADD PERSON</span>
			</div>
		</div>
	</div>

</div>