<% if false # OLD FILTER OPTIONS %>
<div class="row my_people_filter">
	<div class="options pull-right">
		<div class="form_input btn-group">
			<button class="filter_select dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'>{{recipientsFilter}}<i class="glyphicon glyphicon-menu-down"></i></button>
			<ul class="dropdown-menu">
				<li ng-repeat="filter in filterOptions" ng-click="updateFilterView(filter); $parent.open = !$parent.open">
					<a href="#">{{filter}}</a>
				</li>
			</ul>
		</div>

		<div class="form_input">
			<form>
				<input type="hidden" ng-model="selectedUsers"/>
				<a class="send_card" ng-click="multiple_queue()">Send Card</a>
			</form>
		</div>
	</div>
</div>
<% end %>

<div class="row my_people_cards">	
	<div class="col-xs-6 col-md-4 col-lg-3 single_card_div" ng-repeat="recipient in currentRecipients" ng-if="recipient.is_visible == 1">
		<div class="recipient_card" ng-class="{'selected': isInArray(recipient.id, selectedRecipientIDs)}" ng-click="select(recipient)">
			<div class="recipient_info">

				<div class="profile_picture_container">
					<div class="profile_picture">
						<img class="image" ng-src="{{recipient.profile_picture}}" />
					</div>
				</div>

				<div class="recipient_info_container">
					<div class="name">
						{{recipient.first_name}} {{recipient.last_name}}
					</div>

					<div class="events">
						<div class="event" ng-repeat="occasion in recipient.occasions">
							<span ng-if="occasion.occasion.name">{{occasion.occasion.name}} in {{daysFromToday(occasion.recipient_occasion.month, occasion.recipient_occasion.day)}} - {{occasion.recipient_occasion.month | integerToMonth}} {{occasion.recipient_occasion.day}}</span>
						</div>
					</div>
				</div>

				<div class="edit_container">
					<button class="btn edit-recipient" ng-click="editPersonToggle(recipient)"></button>
				</div>

				<!-- hidden overlay to go over card -->
				<div class="overlay_view" ng-class="{display:viewOverlay}">
				</div>
				<div class="recipient_options overlay" ng-class="{display:viewOverlay}" >
					<div class="option_buttons">
						<button class="btn select-recipient" ng-click="select(recipient); $event.stopPropagation();"><i class="glyphicon glyphicon-check"></i></button>
						<br>
						<span class="text">Select</span>
					</div>
					<div class="option_buttons">
						<button class="btn send-recipient" ng-click="single_queue(recipient)"><i class="glyphicon glyphicon-envelope"></i></button>
						<br>
						<span class="text">Send</span>
					</div>
					<div class="option_buttons">
						<button class="btn edit-recipient" ng-click="open_modal_form(recipient)"><i class="glyphicon glyphicon-pencil"></i></button>
						<br>
						<span class="text">Edit</span>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="col-xs-6 col-md-4 col-lg-3 single_card_div add_recipient">
		<div class="recipient_card" ng-click="addPersonToggle()">
			<div class="recipient_info" ng-class="{'selected': isInArray(recipient.id, selectedRecipientIDs)}">
				<span class="add_title"><i class="glyphicon glyphicon-plus"></i>ADD PERSON</span>
			</div>
		</div>
	</div>
	<div class="footer_space">&nbsp;</div>

</div>

<script type="text/javascript">
<!--
    function toggle_overlay_visibility(index) {

    	id_one = "overlay_view_"+index;
    	id_two = "overlay_view_options"+index;

    	var e = document.getElementById(id_one);
    	if(e.style.display == 'block')
    		e.style.display = 'none';
    	else
    		e.style.display = 'block';

    	var e_two = document.getElementById(id_two);
    	if(e_two.style.display == 'block')
    		e_two.style.display = 'none';
    	else
    		e_two.style.display = 'block';

    }
//-->
</script>