<div class="icon_holder">
	<div ui-sref="main.app.my_people.home" class="tab_button my_people" ui-sref-active="active">
		<img src="/assets/trans_background.png" class="my_people_image"></img>
	</div>
	<div class="tab_button" ui-sref="main.app.occasions.home" ui-sref-active="active">
		<img src="/assets/trans_background.png" class="occasions_image"></img>
	</div>
	<div ui-sref="main.app.greeting_central.home" ui-sref-active="active" class="tab_button queue_card">
		<img src="/assets/trans_background.png" class="queue_card_image"></img>
	</div>
	<div class="tab_button" ui-sref="main.app.queued_cards.home" ui-sref-active="active">
		<img src="/assets/trans_background.png" class="queued_cards_image"></img>
	</div>
	<div class="tab_button" ui-sref="main.app.settings.home" ui-sref-active="active">
		<img src="/assets/trans_background.png" class="settings_image"></img>
	</div>
</div>