<nav class="header_container" ng-if="user.status.logged_in">
	<!-- floated left -->
	<div class="title_container">
		<h3 id="currentTitle" class="title">
			{{currentTitle}}
		</h3>
	</div>
	
	<!-- floated right -->
	<div class="options_container">
		<div class="header_option add_person" ng-class="{'selected':addPersonActive}" ng-click="addPersonToggle()">
			<img src="/assets/trans_background.png" class="add_person_image"></img>
		</div>
		<div class="header_option delete_person" ng-class="{'selected': deletePersonActive}" ng-click="deletePersonToggle()">
			<img src="/assets/trans_background.png" class="delete_person_image"></img>
		</div>
		<div class="header_option search_person" ng-class="{'selected': searchPersonActive}" ng-click="searchPersonToggle()">
			<img src="/assets/trans_background.png" class="search_person_image"></img>
		</div>
	</div>
</nav>
