<nav class="header_container" ng-if="user.status.logged_in">

	<div class="top_header_container">
		<!-- floated left -->
		<div class="title_container">
			<h3 id="currentTitle" class="title">
				{{currentTitle}}
			</h3>
		</div>
		
		<!-- floated right -->
		<div class="options_container">
			<div class="header_option add_person" ng-class="{'selected':addPersonActive}" ng-click="addPersonToggle()">
				<i class="basic_icon header_icon add_person_image"></i>
			</div>
			<div class="header_option delete_person" ng-class="{'selected': deletePersonActive}" ng-click="deletePersonToggle()">
				<i class="basic_icon header_icon delete_person_image"></i>
			</div>
			<div class="header_option search_person" ng-class="{'selected': searchPersonActive}" ng-click="searchPersonToggle()">
				<i class="basic_icon header_icon search_person_image"></i>
			</div>
		</div>
	</div>

	<!-- the part of the header that comes for each click on the main header -->
	<div class="bottom_header_container">
		<!-- filter person header_bar -->
		<div class="filter_people_container header_dropdown_tool" ng-show="searchPersonActive">
			<div class="form_input">
				<input type="text" id="filterRecipientInput" placeholder="Who are you thinking about?" ng-model="filter.filteredName" ng-change="recipientNameFilter(filter.filteredName)" class="filter_people_input"></input>
			</div>
		</div>

		<!-- delete person header_bar -->
		<div class="delete_people_container header_dropdown_tool" ng-show="deletePersonActive && selectedRecipientIDs.length > 0">
			<div class="delete_recipients">
				Are you sure you want to delete {{recipientNames()}}<span class="header_span" ng-if="selectedRecipientIDs.length >= 1 && selectedRecipientIDs.length <= 10">'s</span><span class="header_span" ng-if="selectedRecipientIDs.length > 10">'</span> record<span class="header_span" ng-if="selectedRecipientIDs.length > 1">s</span>?
				
			</div>
			<div class="delete_options">
				<button class="btn button no_button" ng-click="deletePersonToggle()">NO</button>
				<button class="btn button yes_button" ng-click="deleteSelectedRecipients()">YES</button>
			</div>
		</div>
	</div>

</nav>
