<div class="my_people_container" ng-controller="ManageRecipientsController" ng-class="{'headerActive': addPersonActive || deletePersonActive || searchPersonActive}">
	
	<header class="navbar header_bar" id="mobile_header">
	 <div class="main_header" ui-view="header"></div>
	</header>

	<div class="col-md-12 col-xs-12 my_people page_container" ng-show="myPeopleState == 'Card View'">
		<div class="my_people_view page_view" ui-view="card_view"></div>
	</div>

	<div class="col-xs-12 recipient_form_container page_container" ng-show="myPeopleState == 'Recipient Form'">
		<div class="recipient_form_view page_view" ui-view="recipient_form"></div>
	</div>

	<div class="col-xs-12 queue_wizard_container page_container" ng-show="myPeopleState == 'Queue Wizard'" ng-controller="QueueCardController" ng-class="{'active': myPeopleState == 'Queue Wizard'}">
		<div class="recipient_form_view page_view" ui-view="queue_card_wizard"></div>
	</div>

	<div class="footer_bar" id="mobile_footer">
		<div class="main_footer" ui-view="footer"></div>
	</div>

	<div class="footer_bar" id="mobile_footer" ng-show="addPersonActive">
		<div class="main_footer" ui-view="recipient_form_footer"></div>
	</div>

	<div class="footer_bar" id="mobile_footer" ng-show="queueCardState && myPeopleState == 'Card View'">
		<div class="main_footer" ui-view="queue_card_footer"></div>
	</div>

</div>