<div ng-controller="ManageRecipientsController">
	<header class="navbar header_bar" id="mobile_header">
	 <div class="main_header" ui-view="header"></div>
	</header>

	<div class="col-md-12 col-xs-12 my_people page_container">
		<div class="my_people_view page_view" ui-view="card_view"></div>
	</aside>
</div>