<div class="wizard_body">

	<div class="occasion_section" ng-show="queueCardPage.name == 'Occasion'">
		<div class="row title_row">
			<div class="inner_container back_container" ng-click="resetMyPeopleState()">
				<i class="glyphicon glyphicon-menu-left"/>
			</div>
			<div class="inner_container title_container">
				<h3 class="title">What's the Occasion?</h3>
			</div>
		</div>

		<div class="occasions_container">
			<div class="col-xs-6 occasion_container" ng-repeat="occasion in recipientOccasions">
				<div class="occasion_card" ng-click="selectOccasion(occasion)">
					<div class="title_container">
						{{occasion.occasion.name}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="color_section" ng-show="queueCardPage.name == 'Color'">
		<div class="row title_row">
			<div class="inner_container back_container" ng-click="queueCardPage.name = 'Occasion'">
				<i class="glyphicon glyphicon-menu-left"/>
			</div>
			<div class="inner_container title_container">
				<h3 class="title">Choose a color!</h3>
			</div>
		</div>

		<div class="colors_container">
			<div class="col-xs-6 color_container" ng-repeat="color in cardColors">
				<div class="color_card" ng-click="selectColor(color)">
				</div>
			</div>
		</div>
	</div>
	

</div>
