<!-- STANDARD RECIPIENT FORM FOOTER -->
<div class="new_recipient_footer">
	<div class="button_container recipient_form_button_container cancel">
		<div id="recipientFormFooterCancel" class="submit_button new_recipient_form_button" ng-click="cancelQueueCardState()">CANCEL</div>
	</div>
	<div class="button_container recipient_form_button_container save">
		<div id="recipientFormFooterSave" class="submit_button new_recipient_form_button" ng-class="{'disabled_button': selectedRecipientIDs.length < 1}" ng-click="queueCard()">QUEUE ({{selectedRecipientIDs.length}})</div>
	</div>
</div>