<div class="modal-header">
	<h3>Test Modal for My People!</h3>
</div>

<form ng-submit="submit()">
	<div class="modal-body">
		<label>First name:</label>
		<input type="text" />
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <input type="submit" class="btn primary-btn" value="Submit" />
	</div>
</form>
