<div class="new_recipient_footer">
	<div class="button_container recipient_form_button_container cancel">
		<div class="submit_button new_recipient_form_button" ng-click="cancelRecipient()">CANCEL</div>
	</div>
	<div class="button_container recipient_form_button_container save">
		<div class="submit_button new_recipient_form_button" ng-click="saveRecipient()">SAVE</div>
	</div>
</div>