<% provide(:title, "Queue Card") %>

<!-- this is inside a container right now -->
<div class="row wizard_body" ng-app="queue-wizard">
  <div class="col-xs-3 form-container view_recipients" ng-controller="QueueWizardController as queueWizardCtrl">
  	<div ui-view="recipients"></div>
	</div>

	<div class="col-xs-9">
		<div ui-view="wizard"></div>
	</div>
</div>

