<% provide(:title, "Queue Card") %>

<!-- this is inside a container right now -->
<div class="row wizard_body" ng-app="queue-wizard" ng-controller="QueueWizardController as queueWizardCtrl">
	<div ui-view></div>
</div>

