@import "partials/base";

html {
	overflow-y: scroll;
}

html, body, .container.container-full {
  height: 100%;
}

body {
	@include base_font;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

span, p {
	@include adjust-font-size-to(1.2em);
}

.container.main_page {

  /**
   *      MAIN APPLICATION
   */
  &.container-full {
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: $white_grey;
    min-height: 1000px;
    min-width: 1150px;
  }

  /**
   *      LEFT BAR
   */
  .left_bar {
    position: fixed;
    z-index: 1005;
    top: 0;

    width: $box_size;
    background-color: $medium_grey;
    height: 100%;

    .icon_holder {

      width: 100%;
      display: table;

      div {
        display: table-row;
        height: $box_size;
        vertical-align: middle;
      }

      // each box within the side bar
      .box {
        display: table-cell;
        text-align: center;
        width: 100%;
        border-bottom: $box_border;
          
        // specifically the left bar that overlaps all
        
        // cardagain logo
        &.logo {
          width: $box_size;
          background-color: black;
          border-bottom: none;
          .title {
            margin: 0;
            color: white;
          }
        }
        &:hover {
          color: white;
          background-color: $link_click_purple;
          cursor: pointer;
        }
      }
    }
  }

  /**
   *     HEADER
   */
  header {
    @include box_sizing;

    z-index: 1001;

    &.navbar {
      margin: -0.2em;
    }
    /* navbar section of header */
    nav {
      height: $box_size;
      width: 100%;
      display: table;

      div {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        padding-left: 20px;
      }

      // each box within the header
      .box {
        width: $box_size;
        height: 100%;
        background-color: $extra_dark_grey;
      }
      .title {
        margin: 0 15px;
        color: $extra_dark_grey;
      }

      ul {
        margin-right: 20px;
        width: 100%;
        li {
          margin-left: 15px;
          &.right_most {
            margin-right: 2%;
          }
          .absolute {
            position: absolute;
          }
          a {
            padding: 0;
            &:hover {
              background-color: transparent;
              color: $hover-blue;
              text-decoration: none;
            }
          }
        }
      }
    }
    /*
     span {
      @include adjust-font-size-to(18px);
      font-weight: bold;
    }
    a {
      color: $grayed_out;
      &:hover {
        text-decoration: none;
        color: $grayed_out;
      }
    }
     */
  }
}

// logo and links
#home_logo {
  cursor: pointer;
}
div {

  .box {
    &.state_link {
      display: table-cell;
      vertical-align: middle;
      &.side_link {
        color: black;
      }
      &:hover {
        text-decoration: none;
      }
      &:active {
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
  &.active {
    .box {
      &.side_link { // for main left bar
        background-color: $white_grey;
        color: $extra_dark_grey;
      }
    }
  }

}


/**
 * 			TYPOGRAPHY
 */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	@include adjust-font-size-to(3em);
 	letter-spacing: -2px;
 	margin-bottom: 30px;
 	text-align: center;
}

h2 {
	@include adjust-font-size-to(1.2em);
	letter-spacing: -1px;
	margin-bottom: 30px;
 	text-align: center;
 	font-weight: normal;
}

p {
	@include adjust-font-size-to(1.1em);
}


#logo {
  float: left;
  margin-right: 10px;
  @include adjust-font-size-to(1.7em);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/*
.notifications {
  display: inline;
  float: left;
  padding-top: 0.5em;
  padding-right: 0.5em;
}

// notifications stuff
.notification_container {
  position: relative;
  display: inline;
  width: 30px;
  height: 30px;
  margin: 0 12px;
}

.notification_bubble {
  position: relative;
  top: -6px;
  right: -18px;
  padding: 1px 5px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 0.65em;

  border-radius: 25px;
  box-shadow: 1px 1px 1px gray;
  span {
    z-index: 100;
  }
}
*/

/**
 *      FOOTER
 */
footer {
  margin-top: 45px;
  padding-top: 5px;
  color: $gray-light;
  a {
    color: $grayed_out;
    &:hover {
      background-color: transparent;
      color: $hover-blue;
      text-decoration: none;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/**
 *      MISC.
 */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  //@include box-sizing(border-box);
}

/**
 *    ERRORS
 */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


