@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

/**
 *      LOGGED OUT HOME PAGE
 */
.container-full {
  margin: 0 auto;
  width: 85%;
  padding: 0;
}

#splash_page {
  .row-logo {
    margin-top: 5em;
  }
  .row-waitlist {
  	text-align: left;
  }
  form {
  	input.waitlist-input {
  		line-height: 2em;
  		display: inline;
  	}
  }
}

#waitlist_email {
	width: 60%;
}

#submit_waitlist {
	width: 35%;
}
