<!-- unique modal form each time you open -->
<form ng-submit="submit()" ng-controller="OccasionFormController" style="height: 100%;">

	<!-- name / relationship -->
	<div class="modal-header basic_info">
		<div class="row recipient_info">
			<div>

				<div class="title_container float_container">
					<div ng-show="isselectedOccasion">
						<h3 class="recipient_form_title">New Occasion</h3>
					</div>
					<div ng-show="!isselectedOccasion">
						<h3 class="recipient_form_title">Edit Occasion</h3>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- details on occasion -->
	<div class="modal-body modal_body">

		<div class="body">

			<!-- recipient of occasion -->
			<div class="title_container float_container" style="margin-top:20px;">
				<h3 class="recipient_form_title address_title">Person</h3>
			</div>

			<div class="person_container full_width_container">
				<div class="occasion_name form_input_container float_container field">
					<div class="occasion_input form_input">
						<select class="recipient_form_input occasion_name_input select_input" ng-model="selectedOccasion.recipient_id" ng-options="value as key for (key, value) in recipientCategories">
							<option value="">Person</option>
						</select>
						<i class="glyphicon glyphicon-menu-down state_menu_down"></i>
					</div>
				</div>
			</div>

			<!-- name of occasion -->
			<% if false %>
			<div class="title_container float_container">
				<h3 class="recipient_form_title occasions_title">Occasion Name</h3>
			</div>

			<div class="form_input_container float_container">
				<div class="form_input">
		      <input class="recipient_form_input" ng-model="selectedOccasion.name" type="text" placeholder="Name"/>
		    </div>
			</div>
			<% end %>

			<!-- category of occasion -->
			<div class="title_container float_container">
				<h3 class="recipient_form_title occasions_title">Category</h3>
			</div>

			<div class="category_container full_width_container">
				<div class="occasion_name form_input_container float_container field">
					<div class="occasion_input form_input">
						<select class="recipient_form_input occasion_name_input select_input" ng-model="selectedOccasion.occasion_id" ng-options="value as key for (key, value) in occasionCategories">
							<option value="">Category</option>
						</select>
						<i class="glyphicon glyphicon-menu-down state_menu_down"></i>
					</div>
				</div>
			</div>

			<!-- name of occasion -->
			<div class="title_container float_container">
				<h3 class="recipient_form_title occasions_title">Date</h3>
			</div>

			<div class="full_width_container float_container">

				<div class="occasion_date_container">
					<div class="month field form_input_container float_container">
						<div class="form_input">
							<select class="recipient_form_input select_input month_input select_input" ng-model="selectedOccasion.month">
					  		<option value="">Month</option>
					  		<% (1...13).each { |month| %>
					  			<option value="<%= month %>"><%= month %></option>
								<% } %>
					  	</select>
					  	<i class="glyphicon glyphicon-menu-down state_menu_down"></i>
						</div>
					</div>

					<div class="day field form_input_container float_container">
						<div class="form_input">
				      <input class="recipient_form_input day_input" ng-model="selectedOccasion.day" type="number" placeholder="Day"/>
				    </div>
					</div>
				</div>

			</div>


			<!-- name of occasion -->
			<div class="title_container float_container">
				<h3 class="recipient_form_title occasions_title">Notes</h3>
			</div>

			<div class="occasion_notes_container full_width_container float_container">

				<div class="notes field form_input_container float_container">
					<div class="form_input">
			      <textarea class="recipient_form_input notes_input" ng-model="selectedOccasion.notes" placeholder="Notes"/>
			    </div>
				</div>

			</div>

		</div>
	</div>

</form>

