<footer class="footer center">
	<div>
	  <nav>
			<ul>
				<li><%= link_to "Contact", contact_us_path %></li>
				<% if logged_in? %>
					<li><%= link_to "Log out", logout_path, method: "delete" %></li>
				<% else %>
					<li><%= link_to "Sign up", "/signup/#/form/profile" %></li>
					<li><%= link_to "Log in", login_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</footer>