<footer class="footer">
  <small>
    Cardagain
  </small>
  <nav>
		<ul>
			<li><%= link_to "About", 	 about_path %></li>
			<li><%= link_to "Contact", contact_us_path %></li>
		</ul>
	</nav>
</footer>