<aside class="left_bar">
	<div class="icon_holder">
		<div>
			<div class="box"><a ui-sref="my_people.app">hello</a></div>
		</div>
		<div>
			<a href="#/my_people/" class="state_link box side_link">
				My People
			</a>
		</div>
		<div>
			<div class="box">hello</div>
		</div>
		<div>
			<div class="box">hello</div>
		</div>
		<div>
			<div class="box">hello</div>
		</div>
	</div>
</aside>